@charset "UTF-8";

/* 폰트 */
@font-face {
  font-family: 'SBAggroL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SBAggroM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* All */
body{
  margin: 0;
  padding: 0;
  background-color: #F1F3E1;
  font-family: 'SBAggroL';
}
/* 기본 페이지 높이 = 1500px */
#container{
	margin: 40px;
  background-color: #ffffff;
  height: 1500px;
  border-radius: 20px;
  left: 50%;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
