@charset "UTF-8";

/* index.html */
#index{
  position: relative;
  height: 100%;
}
#main_door{
  width: 700px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_door_logo {
  width: 670px;
  height: 300px;
}
#loading_image{
  margin-top: 10px;;
}
/* 아보카도 타이핑 */
.loading_image_avocado{
  display: none;
}
/* 로딩중 타이핑 */
.typing-txt {
  display: none;
}
.typing {
  display: inline-block;
  color: #AEBD3B;
  font-family: 'SBAggroM';
}