@charset "UTF-8";

/*  10px = 1rem, 12px = 1.2rem 등 맞쳐주기 위해 변환 */
html {
	font-size: 62.5%;
}
#container{
	/* 메인 페이지 높이 = 2500px */
	/* 각 페이지마다 최대 높이 설정하면 됨 */
  height: 1900px;
}



/* ------------------------------------------- */



/* main.html */
#main{
	position: relative;
	height: 100%;
}

#main_body{
  width: 100%;
  height: 1350px;
  position: absolute;
  top: 123px;
}



/* ------------------------------------------- */


#m_menu{
  display: none;
}
/* 검색창 */
#search_box{
	width: 800px;
	border-radius: 10px;
	padding : 10px 15px;
	border: 1px solid #8B8989;
	text-align: left;
	margin: 0 auto;
	position: relative;
}
#search_input{
	width: 700px;
	border: none;
	outline: none;
	margin-left: 5px;
}
#search_btn{
	background: none;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  font-family: 'SBAggroM';
  font-size: 11px;
  position: absolute;
  top: 5px;
  right: 0px;
 	cursor: pointer;
}


/* ------------------------------------------- */



#slide_box{
	width: 50vw;
	aspect-ratio: 1.25;
	margin: 40px;
	margin-right: 0;
	float: left;
}
#slide1, 
#slide2, 
#slide3{
	position: relative;
}
#slide1 img, 
#slide2 img, 
#slide3 img{
	width: 100%;
	aspect-ratio: 1.25;
	/* height: 550px; */
	border: 1px solid #8B8989;
	border-radius: 10px;
}
.slide_content{
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5%;
}
.slide_content p{
	color: #f7f6df;
}
.slide_content2 p{
	color: #bccdb4;
} 
.slide_content3 p{
	color: #CDCDCD;
}
.slide_content p:nth-of-type(1){
	font-size: 3vw;
	text-align: left;
	margin-left: 33%;
	margin-bottom: 0;
}
.slide_content p:nth-of-type(2){
	font-size: 1.5vw;
	text-align: left;
	margin-left: 33%;
	line-height: 1.7;
}
.slide_content2{
	width: 90%;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5%;
}
.slide_content2 p:nth-of-type(1){
	font-size: 3vw;
	text-align: left;
	margin-left: 42%;
	margin-bottom: 0;
}
.slide_content2 p:nth-of-type(2){
	font-size: 1.5vw;
	text-align: left;
	margin-left: 42%;
	line-height: 1.7;
}
.slide_content3{
	width: 90%;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5%;
}
.slide_content3 p:nth-of-type(1){
	font-size: 3vw;
	text-align: left;
	margin-bottom: 0;
}
.slide_content3 p:nth-of-type(2){
	font-size: 1.5vw;
	text-align: left;
	line-height: 1.7;
}

#login_box{
	width: 28.3vw;
	aspect-ratio: 2.2;
	/* height: 150px; */
	border: 1px solid #8B8989;
	border-radius: 10px;
	margin: 40px;
	margin-left: 40px;
	margin-bottom: 0;
	float: right;
}
#login_btn{
	background: #F1F3E1;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	padding: 6.5% 25%;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	font-size: 1.5vw;
	margin-top: 22px;
	font-family: 'SBAggroM';
}
#login_menu{
	margin: 6% 0;
}
#login_menu a{
	color: black;
  padding: 0 20px;
  text-decoration: none;
  border-right: 1px solid black;
  font-size: 1vw;
}
#login_menu a:nth-of-type(3){
	border: none;
}



/* ------------------------------------------- */



#weather_box{
	width: 28.3vw;
	aspect-ratio: 1.25;
	/* height: 355px; */
	border: 1px solid #8B8989;
	border-radius: 10px;
	margin: 40px;
	margin-left: 0;
	float: right;
	position: relative;
}
#weather_title p{
	font-size: 1.7vw;
	text-align: left;
	margin: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
	font-family: 'SBAggroM';
}
#weather_info{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  padding-top: 70px;
}
.SeoulIcon{
	width: 40%;
	display: flex;
  align-items: center;
}
.weather-icons{
	 width: 100%;
   height: 70%;
}
#weather_info_right{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.SeoulNowtemp{
	font-size: 3vw;
	margin: 0;
	margin-bottom: 10%;
}
.Seoul{
  font-size: 1vw;
  margin: 0;
  margin-bottom: 10%;
}
.SeoulLowtemp{
	font-size: 1.2vw;
	color: blue;
	margin: 0;
}
.SeoulHightemp{
	font-size: 1.2vw;
	color: red;
	margin: 0;
}
.tempslice{
	font-size: 1.2vw;
}
#weather_info_bottom{
	display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1vw;
  position: absolute;
  bottom: 0;
}
.texts{
	font-size: 1vw;
	color: gray;
}
.pressure,
.humidity,
.wind{
	font-size: 1vw;
}


/* --------------------------------------------------------- */



/* 추천, 정보 공통 CSS */
.work_title{
	background: #F1F3E1;
	border-radius: 30px;
	font-family: 'SBAggroM';
	width: fit-content;
  padding: 1px 15px;
  font-size: 1.4vw;
}
.work_menu{
	text-align: left;
	margin: 15px;
	font-size: 1.2vw;
}
.work_menu a{
	color: #8B8989;
	text-decoration: none;
}
.work_menu a:hover{
	color: black;
}



/* --------------------------------------------------------- */



/* 3WORK RECOMMEND의 CSS */
#work_recommend{
	clear: both;
  position: relative;
  height: 31%;
  margin: 40px;
}
#work_recommend img{
	margin: 0 16px 10px 0;
}
#work_recommend_link a{
	text-decoration: none;
}
/* 노래 추천 CSS */
#work_music{
	width: 31.8%;
	position: absolute;
	left: 0;
}
#work_music a img{
	width: 100%;
	z-index: -1;
}
#work_music_content{
	position: absolute;
	bottom: 0;
	left: 5px;
	text-align: left;
	line-height: 0.5;
}
#work_music_content p:nth-of-type(1){
	color: #A09D9D;
	font-size: 1vw;
}
#work_music_content p:nth-of-type(3){
	color: #8B8989;
	font-size: 1.2vw;
}
#work_music_content p:nth-of-type(4){
	color: #000000;
	font-size: 1.3vw;
	line-height: 1.4;
}
/* 음식 추천 CSS */
#work_food{
	width: 31.8%;
	position: absolute;
	left: 34%;
}
#work_food a img{
	width: 100%;
}
#work_food a img:nth-of-type(2){
	width: 21%;
	height: 19%;
	position: absolute;
	top: 8px;
	right: -23px;
}
#work_food_content{
	position: absolute;
	top: 10px;
	left: 20px;
	text-align: left;
	line-height: 1;
}
#work_food_content p:nth-of-type(1){
	color: #cccccc;
	font-size: 1.2vw;
}
#work_food_content p:nth-of-type(2){
	color: #ffffff;
	font-size: 1.3vw;
}
/* 아이템 추천 CSS */
#work_item{
	width: 31.8%;
	position: absolute;
	left: 68%;
}
#work_item a img{
	width: 100%;
	z-index: -1;
	margin-right: 0;
}
#work_item_content{
	position: absolute;
	top: 10px;
	left: 17px;
	text-align: left;
	line-height: 1;
}
#work_item_content p:nth-of-type(1){
	color: #cccccc;
	font-size: 1.2vw;
}
#work_item_content p:nth-of-type(2){
	color: #000000;
	font-size: 1.3vw;
}



/* --------------------------------------------------------- */



/* 3WORK INFORMATION의 CSS */
#work_info{
	clear: both;
  position: relative;
  height: 37%;
  margin: 40px;
}
#work_info img{
	height: 400px;
}
#work_info_link a{
	text-decoration: none;
}
/* 뉴스 CSS */
#work_news{
	width: 43%;
	position: absolute;
	left: 0;
}
#work_news a img{
	width: 100%;
	z-index: -1;
}
#work_news_content{
	position: absolute;
	top: 10px;
	left: 20px;
	text-align: left;
	line-height: 1;
}
#work_news_content p:nth-of-type(1){
	color: #A09D9D;
	font-size: 1vw;
}
#work_news_content p:nth-of-type(3){
	color: #8B8989;
	font-size: 1.2vw;
}
#work_news_content p:nth-of-type(4){
	color: #000000;
	font-size: 1.3vw;
}
/* 지도 CSS */
#work_map{
	width: 43%;
	position: absolute;
	left: 32%;
}
#work_map a img{
	width: 100%;
	z-index: -1;
}
#work_map_content{
	position: absolute;
	top: 10px;
	left: 20px;
	text-align: left;
	line-height: 1;
}
#work_map_content p:nth-of-type(1){
	color: #cccccc;
	font-size: 1.2vw;
}
#work_map_content p:nth-of-type(2){
	color: #000000;
	font-size: 1.3vw;
}
/* 운동 꿅팁 CSS */
#work_method{
	width: 23.7%;
	position: absolute;
	left: 76.3%;
	margin-right: 0;
}
#work_method a img{
	width: 100%;
	z-index: -1;
}
#work_method_content{
	position: absolute;
	top: 10px;
	left: 17px;
	text-align: left;
	line-height: 1;
}
#work_method_content p:nth-of-type(1){
	color: #cccccc;
	font-size: 1.2vw;
}
#work_method_content p:nth-of-type(2){
	color: #000000;
	font-size: 1.3vw;
}



/* --------------------------------------------------------- */



/* 미디어쿼리 */
@media (min-width: 1024px){
	#login_box,
	#weather_box{
		width: 28.6vw;
	}
}

@media (min-width: 1070px) {
	#container{
  	height: 2000px;
	}
	#slide_box img{
		aspect-ratio: 1.2;
	}
	#login_box,
	#weather_box{
		width: 29.7vw;
	}
	#work_recommend{
		height: 34%;
	}
	#work_info{
		height: 38%;
	}
}

@media (min-width: 1190px) {
	#container{
  	height: 2100px;
	}
	#slide_box img{
		aspect-ratio: 1.2;
	}
	#login_box,
	#weather_box{
		width: 31.7vw;
	}
	#login_box{
		aspect-ratio: 3.2;	
	}
	#work_recommend{
		height: 37%;
	}
}

@media (max-width: 1230px){
	#weather_info{
  	padding-top: 55px;
	}
}

@media (min-width: 1280px){
	#container{
  	height: 2200px;
	}
	#slide_box img{
		aspect-ratio: 1.17;
	}
	#login_box,
	#weather_box{
		width: 33vw;
	}
	#login_box{
		aspect-ratio: 3.2;	
	}
	#work_recommend{
		height: 40%;
	}
}

@media (min-width: 1300px) {
	#container{
  	height: 2250px;
	}
	#slide_box img{
		aspect-ratio: 1.17;
	}
	#login_box,
	#weather_box{
		width: 33vw;
	}
	#login_box{
		aspect-ratio: 3.2;	
	}
	#work_recommend{
		height: 41%;
	}
	#work_info{
		height: 38%;
	}
}

@media (min-width: 1400px) {
	#container{
  	height: 2350px;
	}
	#work_recommend{
		height: 45%;
	}
}

@media (min-width: 1440px){
	#container{
  	height: 2450px;
	}
	#slide_box img{
		aspect-ratio: 1.14;
	}
	#login_box,
	#weather_box{
		width: 34.8vw;
	}
	#login_box{
		aspect-ratio: 3.2;	
	}
	#work_recommend{
		height: 47%;
	}
}

@media (min-width: 1540px) {
	#container{
  	height: 2600px;
	}
	#slide_box img{
		aspect-ratio: 1.11;
	}
	#login_box,
	#weather_box{
		width: 35.9vw;
	}
	#work_recommend{
		height: 50%;
	}
	#work_info{
		height: 40%;
	}
}

@media (min-width: 1700px) {
	#container{
  	height: 2700px;
	}
	#work_info img{
	height: 450px;
	}
	#work_recommend{
		height: 54%;
	}
}

@media (min-width: 1820px) {
	#container{
  	height: 2850px;
	}
	#slide_box img{
		aspect-ratio: 1.08;
	}
	#work_info img{
	height: 480px;
	}
	#login_box,
	#weather_box{
		width: 37.9vw;
	}
	#work_recommend{
		height: 58%;
	}
}

@media (min-width: 1920px) {
	#container{
  	height: 3000px;
	}
	#work_info img{
	height: 500px;
	}
	#work_recommend{
		height: 63%;
	}
}