@charset "UTF-8";

/* main.html */
#main{
  position: relative;
  width: 100%;
  height: 2250px;
}
#main_body{
  width: 100%;
  height: 1350px;
}
#search_box{
	width: 800px;
	border-radius: 10px;
	padding : 10px 15px;
	border: 1px solid #8B8989;
	text-align: left;
	margin: 0 auto;
}
#search_input{
	width: 700px;
	border: none;
	outline: none;
	margin-left: 5px;
}
#slide_box{
	width: 57%;
	margin: 40px;
	float: left;
}
#slide1, 
#slide2, 
#slide3{
	position: relative;
}
#slide1 img, 
#slide2 img, 
#slide3 img{
	width: 100%;
	height: 550px;
	border: 1px solid #8B8989;
	border-radius: 10px;
}
.slide_content{
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5%;
}
.slide_content p{
	color: #f7f6df;
}
.slide_content2 p{
	color: #bccdb4;
} 
.slide_content3 p{
	color: #CDCDCD;
}
.slide_content p:nth-of-type(1){
	font-size: 50px;
	text-align: left;
	margin-left: 33%;
	margin-bottom: 0;
}
.slide_content p:nth-of-type(2){
	font-size: 20px;
	text-align: left;
	margin-left: 33%;
	line-height: 1.7;
}
.slide_content2{
	width: 90%;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5%;
}
.slide_content2 p:nth-of-type(1){
	font-size: 50px;
	text-align: left;
	margin-left: 42%;
	margin-bottom: 0;
}
.slide_content2 p:nth-of-type(2){
	font-size: 20px;
	text-align: left;
	margin-left: 42%;
	line-height: 1.7;
}
.slide_content3{
	width: 90%;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5%;
}
.slide_content3 p:nth-of-type(1){
	font-size: 50px;
	text-align: left;
	margin-bottom: 0;
}
.slide_content3 p:nth-of-type(2){
	font-size: 20px;
	text-align: left;
	line-height: 1.7;
}

#login_box{
	width: 33.6%;
	height: 150px;
	border: 1px solid #8B8989;
	border-radius: 10px;
	margin: 40px;
	margin-left: 0;
	margin-bottom: 0;
	float: right;
}
#login_btn{
	background: #F1F3E1;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	padding: 20px 32%;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	font-size: 15px;
	margin-top: 22px;
	font-family: 'SBAggroM';
}
#login_menu{
	margin: 22px 0;
}
#login_menu a{
	color: black;
  padding: 0 20px;
  text-decoration: none;
  border-right: 1px solid black;
  font-size: 12px;
}
#login_menu a:nth-of-type(3){
	border: none;
}

#weather_box{
	width: 33.6%;
	height: 355px;
	border: 1px solid #8B8989;
	border-radius: 10px;
	margin: 40px;
	margin-left: 0;
	float: right;
}
#weather_title p{
	font-size: 20px;
	text-align: left;
	margin: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
	font-family: 'SBAggroM';
}



/* --------------------------------------------------------- */



/* 추천, 정보 공통 CSS */
.work_title{
	background: #F1F3E1;
	border-radius: 30px;
	font-family: 'SBAggroM';
	width: fit-content;
  padding: 1px 15px;
}
.work_menu{
	text-align: left;
	margin: 15px;
}
.work_menu a{
	color: #8B8989;
	text-decoration: none;
}
.work_menu a:hover{
	color: black;
}



/* --------------------------------------------------------- */



/* 3WORK RECOMMEND의 CSS */
#work_recommend{
	clear: both;
  position: relative;
  width: 94%;
  height: 502px;
  margin: 40px;
}
#work_recommend img{
	height: 400px;
	margin: 0 16px 10px 0;
}
#work_recommend_link a{
	text-decoration: none;
}
/* 노래 추천 CSS */
#work_music{
	width: 31.8%;
	position: absolute;
	left: 0;
}
#work_music a img{
	width: 100%;
	z-index: -1;
}
#work_music_content{
	position: absolute;
	bottom: 0;
	left: 15px;
	text-align: left;
	line-height: 0.5;
}
#work_music_content p:nth-of-type(1){
	color: #A09D9D;
	font-size: 13px;
}
#work_music_content p:nth-of-type(3){
	color: #8B8989;
	font-size: 15px;
}
#work_music_content p:nth-of-type(4){
	color: #000000;
	font-size: 17px;
	line-height: 1.4;
}
/* 음식 추천 CSS */
#work_food{
	width: 31.8%;
	position: absolute;
	left: 34%;
}
#work_food a img{
	width: 100%;
	z-index: -1;
}
#work_food a img:nth-of-type(2){
	width: 19%;
	height: 18%;
	position: absolute;
	top: 8px;
	right: -16px;
}
#work_food_content{
	position: absolute;
	top: 10px;
	left: 25px;
	text-align: left;
	line-height: 1;
}
#work_food_content p:nth-of-type(1){
	color: #cccccc;
	font-size: 15px;
}
#work_food_content p:nth-of-type(2){
	color: #ffffff;
	font-size: 17px;
}
/* 아이템 추천 CSS */
#work_item{
	width: 31.8%;
	position: absolute;
	left: 68%;
}
#work_item a img{
	width: 100%;
	z-index: -1;
	margin-right: 0;
}
#work_item_content{
	position: absolute;
	top: 10px;
	left: 25px;
	text-align: left;
	line-height: 1;
}
#work_item_content p:nth-of-type(1){
	color: #cccccc;
	font-size: 15px;
}
#work_item_content p:nth-of-type(2){
	color: #000000;
	font-size: 17px;
}



/* --------------------------------------------------------- */



/* 3WORK INFORMATION의 CSS */
#work_info{
	clear: both;
  position: relative;
  width: 94%;
  height: 502px;
  margin: 40px;
}
#work_info img{
	height: 400px;
}
#work_info_link a{
	text-decoration: none;
}
/* 뉴스 CSS */
#work_news{
	width: 43%;
	position: absolute;
	left: 0;
}
#work_news a img{
	width: 100%;
	z-index: -1;
}
#work_news_content{
	position: absolute;
	top: 10px;
	left: 25px;
	text-align: left;
	line-height: 1;
}
#work_news_content p:nth-of-type(1){
	color: #A09D9D;
	font-size: 13px;
}
#work_news_content p:nth-of-type(3){
	color: #8B8989;
	font-size: 15px;
}
#work_news_content p:nth-of-type(4){
	color: #000000;
	font-size: 17px;
}
/* 지도 CSS */
#work_map{
	width: 43%;
	position: absolute;
	left: 32%;
}
#work_map a img{
	width: 100%;
	z-index: -1;
}
#work_map_content{
	position: absolute;
	top: 10px;
	left: 25px;
	text-align: left;
	line-height: 1;
}
#work_map_content p:nth-of-type(1){
	color: #cccccc;
	font-size: 15px;
}
#work_map_content p:nth-of-type(2){
	color: #000000;
	font-size: 17px;
}
/* 운동 꿅팁 CSS */
#work_method{
	width: 23.7%;
	position: absolute;
	left: 76.3%;
	margin-right: 0;
}
#work_method a img{
	width: 100%;
	z-index: -1;
}
#work_method_content{
	position: absolute;
	top: 10px;
	left: 25px;
	text-align: left;
	line-height: 1;
}
#work_method_content p:nth-of-type(1){
	color: #cccccc;
	font-size: 15px;
}
#work_method_content p:nth-of-type(2){
	color: #000000;
	font-size: 17px;
}