@charset "UTF-8";



/* header.html */
header{
  width: 100%;
  height: 63px;
  margin: 30px 0;
}
/* footer.html */
footer{
  width: 100%;
  height: 240px;
  border-radius: 20px;
  background-color: #BBBEA5;
  position: absolute;
  bottom: 0;
}
#footer_left{
  float: left;
}
#footer_logo{
  text-align: left;
  padding: 20px 0 0 20px;
}
#footer_logo img{ 
  width: 170px;
  height: 80px;
}
#footer_menu{
  margin: 20px 0 0 20px;
}
#footer_menu a{
  color: black;
  padding: 0 20px;
  text-decoration: none;
  border-right: 1px solid black;
}
#footer_menu a:nth-of-type(4){
  border: none;
}
#footer_info, #footer_copyright{
  text-align: left;
  margin: 20px 0 0 20px;
  padding: 0 20px;
}
#footer_info p{
  font-size: 13px;
}
#footer_copyright p{
  font-size: 10px;
}