<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>3WORK : WWW</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/submenu/submenu.css}">
</head>
<body>
	<div id="container" style="height: 2800px;">
		<div id="privacy">
			<!-- header.html 연결 -->
      <div th:replace="~{header}"></div>
      
      <section class="data">
        <div class="data-title">
           <div class="board">
               <p>내부정보관리규정</p>
           </div>
	      </div>
	    <div class="data-board">
           <p>제1장 총칙<br>
            <br>
            <br>
            ■ 제1조(목적)<br>
           	이 규정은 「자본시장과 금융투자업에 관한 법률」(이하 “법”이라 한다) 및 제반 법규에 따른 신속·정확한 공시 및 임원·직원의 내부자거래 방지를 위하여 회사 내부정보의 종합관리 및 적절한 공개 등에 관한 사항을 정함을 목적으로 한다.<br>
        	<br>
            ■ 제2조(용어의 정의) 이 규정에서 사용하는 용어의 정의는 다음과 같다.
            <br>
            ① 이 규정에서 “내부정보”라 함은 한국거래소(이하 “거래소”라 한다)의 코스닥시장 공시규정(이하 “공시규정”이라 한다) 제1편에 의한 공시의무사항과 그 밖에 회사의 경영 또는 재산상황 등에 관한 것으로서 투자자의 투자판단에 영향을 미칠 수 있는 사항을 말한다.<br>

			② 이 규정에서 “공시책임자”라 함은 공시규정 제2조제4항에 따라 회사를 대표하여 신고업무를 수행할 수 있는 자를 말한다.<br>

			③ 이 규정에서 “임원”이라 함은 이사(「상법」제401조의2제1항 각 호의 어느 하나에 해당하는 자를 포함한다) 및 감사를 말한다.<br>

			④ 제1항부터 제3항 이외에 이 규정에서 사용하는 용어의 정의에 관하여는 관련 법규에서 사용하는 용어의 정의에 의한다.<br>
            <br>
            ■ 제3조(적용범위)<br>
            공시, 내부자거래 및 내부정보관리에 관한 사항은 관련 법령, 규정 또는 정관에 정한 것을 제외하고는 이 규정에 따른다.<br>
            원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.<br>
            <br>
            <br>
            <p>제2장 내부정보의 관리</p>
            <br>
            ■ 제4조(내부정보의 관리)<br>
            <br>
            <br>
            ① 임원·직원은 업무상 알게 된 회사의 내부정보를 엄중히 관리하여야 하고, 업무상 필요한 경우를 제외하고는 내부정보를 사내 또는 사외에 유출하여서는 아니 된다.<br>
            <br>
            <br>
			② 대표이사는 내부정보 및 그와 관련된 문서 등의 보관, 전달, 파기 등에 관한 구체적인 기준을 정하는 등 내부정보관리를 위해 필요한 조치를 취하여야 한다.<br>
            <br>
            ■ 제5조(공시책임자)<br>
            ① 대표이사는 공시책임자를 정하여 지체 없이 거래소에 신고하여야 한다. 공시책임자를 변경한 때에도 또한 같다.<br>
			② 공시책임자는 내부정보관리제도의 수립 및 운영에 관련된 업무를 총괄하며 다음 각 호의 업무를 수행한다.<br>
			&nbsp;&nbsp;&nbsp;1. 공시의 집행<br>
			&nbsp;&nbsp;&nbsp;2. 내부정보관리제도의 운영 상황 점검 및 평가<br>
			&nbsp;&nbsp;&nbsp;3. 내부정보에 대한 검토 및 공시 여부의 결정<br>
			&nbsp;&nbsp;&nbsp;4. 임원·직원에 대한 교육 등 내부정보관리제도의 운영을 위해 필요한 조치<br>
			&nbsp;&nbsp;&nbsp;5. 내부정보의 관리를 담당하거나 공시업무를 담당하는 부서 또는 임원·직원에 대한 지휘 및 감독<br>
			&nbsp;&nbsp;&nbsp;6. 그 밖에 내부정보관리제도의 운영을 위해 필요하다고 대표이사가 인정한 업무<br>
			<br>
			<br>
			③ 공시책임자는 그 직무를 수행함에 있어서 다음 각 호의 권한을 가진다.<br>
			&nbsp;&nbsp;&nbsp;1. 내부정보와 관련된 각종 서류 및 기록의 제출을 요구하고 열람할 수 있는 권한<br>
			&nbsp;&nbsp;&nbsp;2. 회계 또는 감사업무를 담당하는 부서, 그 밖에 내부정보의 생성과 관련이 있는 업무를 담당하는 부서의 임원·직원으로부터 필요한 의견을 청취할 수 있는 권한
			<br>
            <br>
			④ 공시책임자는 그 직무를 수행함에 있어 필요한 경우 관련 업무를 담당하는 임원과 협의할 수 있으며, 회사의 비용으로 전문가의 조력을 구할 수 있다.
			<br>
			<br>
			⑤ 공시책임자는 내부정보관리제도의 운영 상황을 정기적으로 대표이사에게(또는 이사회에) 보고하여야 한다.
			<br>
            <br>
            ■ 제6조(공시담당자)<br>
            ① 대표이사는 공시담당자를 정하여 지체 없이 거래소에 신고하여야 한다. 공시담당자를 변경한 때에도 또한 같다. <br>

			② 공시담당자는 내부정보관리와 관련하여 공시책임자의 지휘를 받으며 다음 각 호의 업무를 수행한다. <br>
			&nbsp;&nbsp;&nbsp;1. 내부정보의 수집과 검토 및 공시책임자에 대한 보고
			&nbsp;&nbsp;&nbsp;2. 공시의 집행을 위해 필요한 업무
			&nbsp;&nbsp;&nbsp;3. 공시 관련 법규의 변경 등 내부정보의 관리를 위해 필요한 사항의 확인 및 공시책임자에 대한 보고
			&nbsp;&nbsp;&nbsp;4. 그 밖에 대표이사 또는 공시책임자가 필요하다고 인정한 사항
			<br>
            <br>
             <br>
            <br>
            ■ 제7조(내부정보의 집중)<br>
            ① 임원 및 각 부서의 장은 다음 각 호의 어느 하나에 해당하는 경우에 적시에 공시책임자에게 그에 관한 정보를 제공하여야 한다.<br>
            &nbsp;&nbsp;&nbsp;1. 내부정보가 발생하거나 발생이 예상되는 경우<br>
            &nbsp;&nbsp;&nbsp;2. 내부정보 중 이미 공시된 사항을 취소 또는 변경해야 할 사유가 발생하거나 발생이 예상되는 경우<br>
            &nbsp;&nbsp;&nbsp;3. 그 밖에 공시책임자의 요구가 있는 경우<br>
            <br>
            ② 공시책임자 및 대표이사는 제1항에 따른 내부정보의 적시제공을 위해 회사 내의 정보전달 체계를 효율적으로 구축하여야 하며, 필요한 경우 공시의무사항과 관련된 업무의 결재과정에 공시책임자의 협조를 받도록 할 수 있다.<br>
            <br>
            ■ 제8조(내부정보의 사외제공)<br>
            ① 임원·직원이 업무상의 이유로 회사의 거래상대방·외부감사인·대리인, 회사와 법률자문·경영자문 등의 자문계약을 체결하고 있는 자 등에 대하여 불가피하게 내부정보를 제공해야 하는 경우 공시책임자에게 이에 관한 사항을 보고하여야 한다.<br>
            <br>
            ② 제1항의 경우 공시책임자는 관련 내부정보의 비밀유지에 관한 계약을 체결하는 등 필요한 조치를 취하여야 한다.<br>
            <br>
            ③ 제1항에 따라 내부정보를 제공함에 있어 공정공시의무가 발생하는 경우에는 이를 지체 없이 공시하여야 한다.<br>
            <br>
            <p>제3장 내부정보의 공개</p>
            ■ 제9조(공시의 종류)<br>
            회사의 공시는 다음과 같이 구분한다.<br>
            &nbsp;&nbsp;&nbsp;1. 주요경영사항 신고 및 공시<br>
            &nbsp;&nbsp;&nbsp;2. 조회공시<br>
            &nbsp;&nbsp;&nbsp;3. 공정공시<br>
            &nbsp;&nbsp;&nbsp;4. 자율공시<br>
            &nbsp;&nbsp;&nbsp;5. 증권신고서 등의 제출<br>
            &nbsp;&nbsp;&nbsp;6. 사업보고서 등의 제출<br>
            &nbsp;&nbsp;&nbsp;7. 주요사항보고서의 제출<br>
            &nbsp;&nbsp;&nbsp;8. 그 밖에 다른 법규에 따른 공시<br>
            <br>
            ■ 제10조(공시의 실행)<br>
            &nbsp;&nbsp;&nbsp;① 공시담당자는 공시사항이 발생한 경우 필요한 내용을 작성하고 공시책임자에게 보고하여야 한다.<br>
            <br>
           &nbsp;&nbsp;&nbsp;② 공시책임자는 공시한 내용에 오류나 누락이 있는 경우 정정공시하는 등의 조치를 취하여야 한다.<br>
            <br>
            ■ 제11조(공시 후의 사후조치)<br>
            공시책임자와 공시담당자는 공시한 내용에 오류나 누락이 있거나 변경할 필요가 있는 경우 지체 없이 정정공시 등의 조치를 취하여야 한다.<br>
            <br>
            <p>제4장 내부자 거래 등에 대한 규제</p>
              <br>
            ■ 제14조(단기매매차익의 반환)<br>
            임원과 직원은 특정증권등의 매매를 통해 얻은 단기매매차익을 회사에 반환하여야 한다.<br>
            <br>
             
            <p>제5장 보칙</p>
            ■ 제17조(교육)<br>
            공시책임자와 공시담당자는 공시업무에 관한 교육을 이수하여야 하며, 관련 내용을 임원·직원에게 알려야 한다.<br>
            <br>
            ■ 제18조(규정의 개폐)<br>
            이 규정의 개정 또는 폐지는 대표이사가 한다.<br>
            <br>
            ■ 제19조(규정의 공표)<br>
            이 규정은 회사의 홈페이지에 공표한다.<br>
            <br>
            부칙<br>
            이 규정은 2017년 8월 1일부터 시행한다.<br>
      	</div>
	  	</section>
	    
      <!-- footer.html 연결 -->
      <div th:replace="~{footer}"></div>
		</div>
	</div>
</body>
</html>