<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>3WORK : WWW</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/user/diarywriter.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
   <div id="container" style="height: 1000px;">
      <div id="container2">
         <section class="writeform">
         	<div id="mcontainer">
            <div sec:authorize="isAuthenticated()">
               <h2 id="diarywrite_title">
                  <span sec:authentication="principal.users.unickname"></span>의
                  건강 다이어리
               </h2>
            </div>
            <form th:action="@{|/user/diarywrite/${uno}|}" method="post" enctype="multipart/form-data">
               <div id="title">
                  <input type="text" name="dtitle" placeholder="제목을 작성해주세요.">
               </div>
               <div id="content">
                  <textarea rows="20" cols="2000" name="dcontent"
                     placeholder="내용을 입력해주세요."></textarea>
               </div>
               
               <div class="filebox">
                  <input class="upload-name" value="첨부파일" placeholder="첨부파일"
                     readonly> <label for="diaryFile" class="file_btn">
                     파일 찾기</label> <input type="file" id="diaryFile" name="boardFile">
               </div>
               <div id="btn-box">
                  <input type="submit" value="등록" id="save_btn1">
                  <a th:href="@{|/user/userdiary/${uno}|}">
                     <button type="button" id="save_btn2">취소</button>
                  </a>
               </div>
            </form>
			     </div>
         </section>
	      <div th:replace="~{footer}"></div>
      </div>
   </div>

   <!-- 파일명 들어가기 -->
<script>
   $("#diaryFile").on('change', function() {
      var fileName = $("#diaryFile").val();
      $(".upload-name").val(fileName);
   });
</script>
</body>
</html>