<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="_csrf" th:content="${_csrf.token}">
<title>3WORK : WWW</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/user/join.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
//아이디 중복 검사
const checkUserIdOnClick = () => {
    let inputId = document.getElementById("uid").value;
    let checkResult = document.getElementById("result");
    
    let header = $("meta[name='_csrf_header']").attr('content');
    let token = $("meta[name='_csrf']").attr('content');

if(uid != "") {
    $.ajax({
        type: "POST",
        beforeSend: function(xhr){
            xhr.setRequestHeader(header, token);
        },
        url: "/user/check-email",
        data: {uid: inputId},
        success: function(res) {
        
            if (res == "OK") {
                checkResult.innerHTML = "사용 가능한 이메일입니다."
                checkResult.style.color = "blue"
                checkResult.style.fontFamily = "SBAggroM";
            } else {
                checkResult.innerHTML = "이미 등록된 이메일입니다."
                checkResult.style.color = "red"
                checkResult.style.fontFamily = "SBAggroM";
            }
            checkResult.style.fontSize = "0.9em";
        },
        error: function(err) {
            console.log("실패: ", err);
        }
    });
	}else{
		checkResult.innerHTML = "";
	}
};

//닉네임 중복 검사
const checkNicknameOnClick = () => {
    let inputNickname = document.getElementById("unickname").value;
    let nicCheckResult = document.getElementById("nickname-result");
    
    let header = $("meta[name='_csrf_header']").attr('content');
    let token = $("meta[name='_csrf']").attr('content');
    
if(inputNickname !== "") {
    $.ajax({
        type: "POST",
        beforeSend: function(xhr){
            xhr.setRequestHeader(header, token);
        },
        url: "/user/check-nickname",
        data: {unickname: inputNickname},
        success: function(res) {
        	console.log(res);
            if (res == "OK") {
            	nicCheckResult.innerHTML = "사용 가능한 닉네임입니다."
            	nicCheckResult.style.color = "blue"
            	nicCheckResult.style.fontFamily = "SBAggroM";
            } else {
            	nicCheckResult.innerHTML = "이미 등록된 닉네임입니다."
            	nicCheckResult.style.color = "red"
              nicCheckResult.style.fontFamily = "SBAggroM";
            }
            nicCheckResult.style.fontSize = "0.9em";
        },
        error: function(err) {
            console.log("실패: ", err);
        }
    });
	}else{
		nicCheckResult.innerHTML = "";
	}
};
//유효성 검사
//이메일 유효성 검사
function validateUid() {
    let uidInput = document.getElementById("uid");
    let checkMessageDiv = document.getElementById("idcheck-message");
    let uidError = checkMessageDiv.querySelector("p"); // 'check-message' div 안의 p 태그 선택

    let uidRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    if (!uidRegex.test(uidInput.value)) {
        uidError.innerHTML = "이메일 형식이어야 합니다.";
        uidError.style.color = "blue";
        uidError.style.fontFamily = "SBAggroM";
        uidError.style.fontSize = "0.9em";
    } else {
        uidError.innerHTML = "";
    }
};

//비밀번호 유효성 검사
function validateUpassword() {
    let passwordInput = document.getElementById("upassword");
    let checkMessageDiv = document.getElementById("pwcheck-message");
    let passwordError = checkMessageDiv.querySelector("p"); // 'check-message' div 안의 p 태그 선택

    let passwordRegex = /^(?=.*[a-zA-Z])(?=.*[!@#$%^&*(),.?\":{}|<>])(?=.*[0-9]).{8,20}$/;
    if (!passwordRegex.test(passwordInput.value)) {
        passwordError.innerHTML = "특수문자, 대소문자를 포함한 8~20자여야 합니다.";
        passwordError.style.color = "blue";
        passwordError.style.fontFamily = "SBAggroM";
        passwordError.style.fontSize = "0.9em";
    } else {
        passwordError.innerHTML = "";
    }
 };
 
//비밀번호 확인
function checkPasswordMatch() {
    var password = document.getElementById('upassword').value;
    var confirmPassword = document.getElementById('confirmPassword').value;
    var message = document.getElementById('pwconfirmResult');

    if (password === confirmPassword) {
        message.innerHTML = '비밀번호가 일치합니다.';
        message.style.color = "blue";
    } else {
        message.innerHTML = '비밀번호가 일치하지 않습니다.';
        message.style.color = "red";
    }
    message.style.fontSize = "0.9em";
    message.style.fontFamily = "SBAggroM";
}

// 이름 유효성 검사
function validateUname() {
    let nameInput = document.getElementById("uname");
    let checkMessageDiv = document.getElementById("namecheck-message");
    let nameError = checkMessageDiv.querySelector("p"); // 'check-message' div 안의 p 태그 선택

    let nameRegex = /^[가-힣]*$/;
    if (!nameRegex.test(nameInput.value)) {
        nameError.innerHTML = "한글만 입력 가능합니다.";
        nameError.style.color = "blue";
        nameError.style.fontFamily = "SBAggroM";
        nameError.style.fontSize = "0.9em";
    } else {
        nameError.innerHTML = "";
    }
 };

//닉네임 유효성 검사
function validateUnickname() {
    let nicknameInput = document.getElementById("unickname");
    let checkMessageDiv = document.getElementById("nicknamecheck-message");
    let nicknameError = checkMessageDiv.querySelector("p"); // 'check-message' div 안의 p 태그 선택

    let nicknameRegex = /^.{2,6}$/;
    if (!nicknameRegex.test(nicknameInput.value)) {
        nicknameError.innerHTML = "2자 이상 6자 이하이어야 합니다.";
        nicknameError.style.color = "blue";
        nicknameError.style.fontFamily = "SBAggroM";
        nicknameError.style.fontSize = "0.9em";
    } else {
        nicknameError.innerHTML = "";
    }
 };
 

//연락처 유효성 검사
function validateUphone() {
    let phoneInput = document.getElementById("uphone");
    let checkMessageDiv = document.getElementById("phonecheck-message");
    let phoneError = checkMessageDiv.querySelector("p"); // 'check-message' div 안의 p 태그 선택

    let phoneRegex = /^[0-9]{3}-[0-9]{4}-[0-9]{4}$/;
    if (!phoneRegex.test(phoneInput.value)) {
        phoneError.innerHTML = "'-'포함 11자리로 입력해주세요.";
        phoneError.style.color = "blue";
        phoneError.style.fontFamily = "SBAggroM";
        phoneError.style.fontSize = "0.9em";
    } else {
        phoneError.innerHTML = "";
    }
 };
 //이용약관 동의 알람
 function validateForm() {
     var agreeCheckbox = document.getElementById("agree-terms");

     if (!agreeCheckbox.checked) {
         alert("이용약관과 개인정보 수집 및 활용에 동의해야 합니다.");
         return false;
     }
     return true; //동의에 체크시 가입 가능
 }
</script>
</head>
<body>
	<div id="container" style="height: 1400px;">  
		<div id="join">
				<div th:replace="~{header}"></div>
				<section id="join_body">
			<div class="container2">
				<h2>회원가입</h2>
				<form th:action="@{/user/join}" method="post" class="join"
						  th:object="${usersDTO}" onsubmit="return validateForm()">

					<!-- 아이디 필드 -->
					<div id="id-input">
						<p>아이디</p>
						<button type="button" onclick="checkUserIdOnClick()" id="id-btn">중복확인</button>
						<input type="text" th:field="*{uid}" id="uid"
							placeholder="example@domain.com" onblur="validateUid()">
					</div>
						<p th:if="${#fields.hasErrors('uid')}" th:errors="*{uid}"
							 th:class="${#fields.hasErrors('uid')} ? 'error-message1' : ''"></p>
					<div id="idcheck-message">
						<p id="result"></p>
					</div>

					<!-- 비밀번호 필드 -->
					<div id="pw-input">
					    <p>비밀번호</p>
					    <input type="password" th:field="*{upassword}" id="upassword" name="upassword"
					           placeholder="비밀번호(영문/대소문자,숫자,특수문자 포함 8~20자)"
					           onblur="validateUpassword()">
					</div>
					<p th:if="${#fields.hasErrors('upassword')}" th:errors="*{upassword}"
					   th:class="${#fields.hasErrors('upassword')} ? 'error-message2' : ''"></p>
					<div id="pwcheck-message">
					    <p id="result"></p>
					</div>
					
					<div id="pw-input2">
					    <p>비밀번호 확인</p>
					    <input type="password" id="confirmPassword" name="confirmPassword"
					           placeholder="비밀번호를 한번 더 입력해주세요" onblur="checkPasswordMatch()">
					</div>
					<div id="confirm-message">
					    <p id="pwconfirmResult"></p>
					</div>

					<!-- 이름 필드 -->
					<div id="name-input">
						<p>이름</p>
						<input type="text" th:field="*{uname}" id="uname" name="uname"
							placeholder="이름(한글만 가능)" onblur="validateUname()">
					</div>
					<p th:if="${#fields.hasErrors('uname')}" th:errors="*{uname}"
						 th:class="${#fields.hasErrors('uname')} ? 'error-message3' : ''"></p>
					<div id="namecheck-message">
						<p id="result"></p>
					</div>

					<!-- 닉네임 필드 -->
					<div id="nickname-input">
						<p>닉네임</p>
						<input type="text" th:field="*{unickname}" id="unickname"
							name="unickname" placeholder="별명" onblur="validateUnickname()">
						<button type="button" onclick="checkNicknameOnClick()" id="nick-btn">중복확인</button>	
					</div>
					<p th:if="${#fields.hasErrors('unickname')}"
						 th:errors="*{unickname}"
						 th:class="${#fields.hasErrors('unickname')} ? 'error-message4' : ''"></p>
					<div id="nicknamecheck-message">
						<p id="nickname-result"></p>
					</div>
					
					<!-- 성별 필드 -->
					<div class="gender_input_content">
						<p>성별</p>
						<select name="gender" th:field="*{ugender}" id="ugender">
							<option value="select">---</option>
							<option value="남">남</option>
							<option value="여">여</option>
						</select>
					<p th:if="${#fields.hasErrors('ugender')}"
						 th:errors="*{ugender}"
						 th:class="${#fields.hasErrors('ugender')} ? 'error-message5' : ''"></p>
					</div>

					<!-- 주소 필드 -->
					<div id="ad-input">
						<p>주소</p>
						<div class="address-container">
							<input type="text" th:field="*{uaddress}" id="uaddress"
								name="uaddress" placeholder="주소를 검색해 주세요">
						</div>
						<button type="button" onclick="openDaumPostcode()">우편번호 찾기</button>
					</div>
					<div id="detailad-input">
						<input type="text" th:field="*{detailuaddress}" id="detailuaddress"
							name="detailuaddress" placeholder="상세주소를 입력해주세요">
					</div>
					<p th:if="${#fields.hasErrors('uaddress')}"
							 th:errors="*{uaddress}"
							 th:class="${#fields.hasErrors('uaddress')} ? 'error-message6' : ''"></p>

					<div id="wrap"
						style="display: none; border: 1px solid; width: 300px; height: 300px; margin: 5px 0; position: relative">
						<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap"
								 style="cursor: pointer; position: absolute; right: 0px; top: -1px; z-index: 1"
								 onclick="foldDaumPostcode()" alt="접기 버튼">
					</div>

					<!-- 연락처 필드 -->
					<div id="phone-input">
						<p>연락처</p>
						<input type="text" th:field="*{uphone}" id="uphone" name="uphone"
							placeholder="연락처('-'포함 11자리입력)" onblur="validateUphone()">
					</div>
					<p th:if="${#fields.hasErrors('uphone')}" th:errors="*{uphone}"
						 th:class="${#fields.hasErrors('uphone')} ? 'error-message7' : ''"></p>
					<div id="phonecheck-message">
						<p id="result"></p>
					</div>

					<!-- 생일 필드 -->
					<div id="birth-input">
						<p>생년월일</p>
						<input type="date" id="ubirth" name="ubirth">
					</div>
					<p th:if="${#fields.hasErrors('ubirth')}" th:errors="*{ubirth}"
						 th:class="${#fields.hasErrors('ubirth')} ? 'error-message8' : ''"></p>

					<div class="terms">
						<input type="checkbox" id="agree-terms" name="agree-terms">
						<label for="agree-terms">이용약관과 개인정보 수집 및 활용에 동의합니다.</label>
					</div>
					<input type="submit" value="가입" class="submit-button">
				</form>
			</div>
			</section>
			<!-- footer.html 연결 -->
			<div th:replace="~{footer}"></div>
		</div>
	</div>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
//우편번호 검색 팝업 열기
function openDaumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            // 사용자가 도로명 주소를 선택했을 경우
            if (data.userSelectedType === 'R') {
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우
                addr = data.jibunAddress;
            }

            // 참고항목이 있을 경우
            if (data.userSelectedType === 'R') {
                if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                    extraAddr += data.bname;
                }
                if (data.buildingName !== '' && data.apartment === 'Y') {
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                if (extraAddr !== '') {
                    extraAddr = ' (' + extraAddr + ')';
                }
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            var fullAddress = '[' + data.zonecode + '] ' + addr + extraAddr;
            document.getElementById('uaddress').value = fullAddress;

            // 팝업 닫기
            document.getElementById('wrap').style.display = 'none';
        },
        width: '100%',
        height: '100%'
    }).open();
}
</script>
</body>
</html>