<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>3WORK : WWW</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/user/result.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js"
   integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
   crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/aa24b12773.js"
   crossorigin="anonymous"></script>
</head>
<body>
   <div id="container" style="height: 900px;">
      <!-- header.html 연결 -->
      <div id="result">
         <div th:replace="~{header}"></div>
         <section id="result_body">
            <div id="result_content">
               <p>임시 비밀번호가 메일에 전송되었습니다.</p>
               <p>발급된 비밀번호로 로그인이 가능하며, 로그인 후 수정해주세요.</p>
                     
               
               <a th:href="@{/login}">
                  <button type="submit" id="login_btn">로그인</button>
               </a>
            </div>
         </section>
         <!-- footer.html 연결 -->
         <div th:replace="~{footer}"></div>
      </div>
   </div>
</body>
</html>