<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>3WORK : WWW</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/user/pw_search.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/aa24b12773.js" crossorigin="anonymous"></script>
</head>
<body>
   <div id="container" style="height: 900px;">
      <div id="pw_search">
        <!-- header.html 연결 -->
       <div th:replace="~{header}"></div>
       
       <section id="pw_search_body">
          <form th:action="@{/user/resetPassword}" method="post">
             <div id="pw_search_title">
                 <p>임시 비밀번호 발급 </p>
                 <p>비밀번호는 가입 시 입력한 이메일, 이름, 전화번호를 통해 찾을 수 있습니다.</p>
                 <input type="text" id="search_input" name="uid" placeholder="이메일 주소">
                 <input type="text" id="search_input" name="uname" placeholder="이름 (한글만 가능)">
                 <input type="text" id="search_input" name="uphone" placeholder="연락처 ('-' 포함해 13자리 입력)">
                 <button type="submit" id="search_btn">임시비밀번호 발송</span></button>
             </div>
              <div id="message">
                                <p th:text="${message}" class="success-message"></p>
                                <p th:text="${error}" class="error-message"></p>
                 </div>
          </form>
       </section>
       
        <!-- footer.html 연결 -->
       <div th:replace="~{footer}"></div>
    </div>
  </div>

</body>
</html>