<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>3WORK : WWW</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/user/update.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/aa24b12773.js" crossorigin="anonymous"></script>
</head>
<body>
   <div id="container" style="height: 1700px;">
      <div id="update">
       <!-- header.html 연결 -->
      <div th:replace="~{header}"></div>
      <section id="update_body">
         <div id="update_title">
            <p>프로필 수정</p>
         </div>
         
         <!-- 프로필 수정 폼 -->
            <form th:action="@{/user/userupdate}" method="post" enctype="multipart/form-data">
               <input type="hidden" name="uno" th:value="${users.uno}">
                <input type="hidden" name="uid" th:value="${users.uid}">
                <input type="hidden" name="hits" th:value="${users.hits}">
                     
         <!-- 프로필 이미지 -->
         <div id="update_image">
             <img id="profile_image" th:src="@{|/upload/profile/${users.ufilename}|}" onerror="this.src='/images/default/default_profile.png';">
             <button type="button" id="edit_btn">EDIT</button>
         </div>
         
         <!-- 이미지 선택 영역-->
         <div id="image_modal" style="display: none;">
             <h3>프로필 사진 선택</h3>
             <div id="image_list">
                 <img src="/images/profile/profile_pic1.png" alt="프로필 이미지 1">
                 <img src="/images/profile/profile_pic2.png" alt="프로필 이미지 2">
                 <img src="/images/profile/profile_pic3.png" alt="프로필 이미지 3">
                 <img src="/images/profile/profile_pic4.png" alt="프로필 이미지 4">
                 <img src="/images/profile/profile_pic5.png" alt="프로필 이미지 5">
                 <img src="/images/profile/profile_pic6.png" alt="프로필 이미지 6">
             </div>
             <input class="upload-name2" value="첨부파일" placeholder="첨부파일" readonly>
             <label for="uimage" class="file_btn">파일 찾기</label> 
             <input type="file" id="uimage" name="uimage" style="display: none;">
             <button type="button" onclick="closeModal()" class="file_btn" id="close_btn">닫기</button>
         </div>

            <!-- 프로필 정보 수정 -->
            <table id="update_tbl">
               <tr class="update_input">
                  <td class="update_input_content">
                     <label for="uname">
                        이름<span>한글만 가능</span>
                     </label>
                     <br>
                 <input type="text" name="uname" 
                       id="uname" th:value="${users.uname}" readonly>
                  </td>
                  
                  <td class="update_input_content2">
                     <label for="unickname">
                        닉네임<span>2~20자</span>
                     </label>
                     <br>
                 <input type="text" name="unickname" 
                       id="unickname" th:value="${users.unickname}">
                  </td>
               </tr>
               
               <tr class="update_input">
                  <td class="update_input_content">
                     <label for="uphone">
                        연락처<span>'-'포함 13자</span>
                     </label>
                 <input type="text" name="uphone" 
                       id="uphone" th:value="${users.uphone}"> 
                  </td>
                  
                  <td class="update_input_content2">
                     <label for="upassword">비밀번호 변경</label>
                 <input type="text" name="upassword"
                       id="upassword" th:value="${users.upassword}">
                  </td>
               </tr>
               
                
                <tr class="update_input">
                  <td class="update_input_content">
                     <label for="ubirth">
                        생일
                     </label>
                 <input type="text" name="ubirth" 
                       id="ubirth" th:value="${users.ubirth}" readonly> 
                  </td>
                  <td class="update_input_content2">
                     <label for="ugender">성별</label>
                 <input type="text" name="ugender" 
                       id="ugender" th:value="${users.ugender}" readonly> 
                  </td>
                </tr>
               
               <tr class="update_map">
                  <td class="update_map_content">
                     <label for="uaddress">주소</label>
                     <br>
                     <div class="update_map1">
                        <input type="text" 
                           id="uaddress" name="uaddress" th:value="${users.uaddress}">
                    <button type="button" class="map_btn" onclick="'#'">주소 검색</button>
                     </div>
                 <input type="text" id="detailuaddress" name="detailuaddress" th:value="${users.detailuaddress}" 
                             placeholder="상세주소" class="map_detail">
                  </td>
               </tr>
               
               <tr class="update_area">
                  <td class="update_area_content">
                     <label for="uintroduce">
                        한줄 소개명<span>50자 이내</span>
                     </label> 
                 <textarea rows="4" cols="30" maxlength="50" name="uintroduce" 
                           id="uintroduce" th:text="${users.uintroduce}" placeholder="자신을 마음껏 나타내 보세요."></textarea>
                  </td>
               </tr>
               
               <tr class="update_area">
                  <td class="update_area_content">
                  <label for="ulike">
                     좋아하는 것<span>50자 이내</span>
                  </label> 
                  <textarea rows="4" cols="30" maxlength="50" name="ulike" 
                           id="ulike" th:text="${users.ulike}" placeholder="동료에게 자신의 관심사를 공유해보세요."></textarea>
                  </td>
               </tr>
               
               <tr class="update_file">
               <td class="update_file_content">
                   <label for="bgmFile" class="file_title">
                        배경음악 설정<span>100MB 이내</span>
                   </label>
                   <div class="filebox">
                       <input class="upload-name" value="첨부파일" placeholder="첨부파일" readonly>
                       <label for="bgmFile" class="file_btn">파일 찾기</label> 
                       <input type="file" id="bgmFile" name="bgmFile">
                   </div>
               </td>
            </tr>
               
               <tr>
                  <td>
                     <button type="submit" id="save_btn">저장</button>
                     <a th:href="@{|/user/userpage/${users.uno}|}" id="btbtns">
                     	<button type="button" id="save_btn3">미니홈피로 돌아가기</button>
                     </a>
                     <p id="userout">
                     	회원 탈퇴를 하시겠습니까 ?
	                     <a th:href="@{|/user/delete/${users.uno}|}" onclick="return confirm('회원탈퇴를 하시겠습니까?')">
	                     		회원탈퇴
	                     	</a>
                     </p>
                  </td>
               </tr>
           </table>
         </form>
        </section>
      
   			<!-- footer.html 연결 -->
        <div th:replace="~{footer}"></div>
    </div>
  </div>
  
<script>
		<!-- 파일명 들어가기 -->
   $("#bgmFile").on('change',function(){
      var fileName = $("#bgmFile").val();
      $(".upload-name").val(fileName);
    });
   
   // 이미지 파일 첨부했을 시, 프로필에 바로 적용하
   $("#uimage").on('change', function () {
       var fileName = $("#uimage").val();
       $(".upload-name2").val(fileName);

       // uimage에 대한 변경 이벤트 핸들러
       var input = $(this)[0];
       if (input.files && input.files[0]) {
           var reader = new FileReader();
           reader.onload = function (e) {
               $('#profile_image').attr('src', e.target.result);
           }
           reader.readAsDataURL(input.files[0]);
       } else {
           // 파일이 선택되지 않은 경우, 기존 이미지를 유지
           var currentImageSrc = $('#profile_image').attr('src');
           $('#profile_image').attr('src', currentImageSrc);
       }
   });
   
		/* edit 누를시 선택 가능한 이미지 출력 */   
   $("#image_upload").on('change', function() {
       var input = $(this)[0];
       if (input.files && input.files[0]) {
           var reader = new FileReader();
           reader.onload = function(e) {
               $('#profile_image').attr('src', e.target.result);
           }
           reader.readAsDataURL(input.files[0]);
       } else {
           // 파일이 선택되지 않은 경우, 기존 이미지를 유지
           var currentImageSrc = $('#profile_image').attr('src');
           $('#profile_image').attr('src', currentImageSrc);
       }
   });
   
   // edit 버튼 클릭 시, 컨테이너 높이 늘림
   document.getElementById('edit_btn').addEventListener('click', function() {
       // container의 높이를 늘립니다
       document.getElementById('container').style.height = '2000px'; // 원하는 높이로 설정하세요

       // 이미지 모달을 표시합니다
       document.getElementById('image_modal').style.display = 'block';
   });
   // 이미지 모달을 닫고 container의 높이를 초기값으로 재설정하는 함수
   document.getElementById('close_btn').addEventListener('click', function() {
       document.getElementById('image_modal').style.display = 'none';
       document.getElementById('container').style.height = '1700px'; // container의 초기 높이로 재설정합니다
   });

   // 이미지를 클릭했을 때 프로필 이미지 변경
   var imageList = document.getElementById('image_list').getElementsByTagName('img');
   for (var i = 0; i < imageList.length; i++) {
       imageList[i].addEventListener('click', function() {
           var imagePath = this.src;
           document.getElementById('profile_image').src = imagePath;
       });
   }

</script>
</body>
</html>