<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>3WORK : WWW</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/board/food.css}">
<script src="https://kit.fontawesome.com/aa24b12773.js" crossorigin="anonymous"></script>
</head>
<body>
	<div id="musicboard">
		<div id="container">
			<!-- header.html 연결 -->
      <div th:replace="~{header}"></div>
      
      <section class="msection">
      	<div id="mcontainer">
      		<div class="mbox">
      			<div class="t_box">
      				<p class = "tag">건강 관련 식품</p>
            </div>   
          	
          	<div class="parent">
	          	<div class="card" th:each="food : ${foodList}">
	          		<div th:if="${food.ffilename != null}">
	          			<!-- 이미지 경로를 못찾았을 때, alt 대신 대체 이미지 출력 -->
									<img th:src="@{${food.ffilepath}}" onerror="this.src='/images/default/default_image.png';">
						    </div>
						    <div th:if="${food.ffilename == null}">
					        <!-- 기본 이미지를 표시할 부분 -->
					        <img th:src="@{/images/default/default_image.png}" alt="DefaultImage">
						    </div>
	          		<div class="card-content">
	          			<h3 class="foodh3" th:text="${food.fname}"></h3>
	          			<p class="foodp" th:text="${food.fcontent}"><br></p>
	          			<div class="foodprice">
		          			<p data-th-text="${#numbers.formatInteger(food.fprice, 3, 'COMMA') + '원'}"></p>
		 								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		          			<i class="fa-solid fa-cart-plus" style = "color: #5EA601; font-size : 20px; padding-right : 10px;"></i>
	          				<span th:with="foodLink=${food.flink}">
		          				<a th:href="@{${foodLink}}" target="_blank">
		          					<i class="fa-solid fa-link" style = "color: #5EA601; font-size : 20px"></i>
		          				</a>
	          				</span>
	          			</div>
	          		</div>
          		</div>
          	</div>
            
            <!-- 페이지 영역 -->
            <div class="pagination">
    
         
            </div>
            
      		</div>
      	</div>
      </section>
      
      
      <!-- footer.html 연결 -->
      <div th:replace="~{footer}"></div>
		</div>
	</div>
</body>
</html>