<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="_csrf" th:content="${_csrf.token}">
<title>3WORK : WWW</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/board/food.css}">
<script src="https://kit.fontawesome.com/aa24b12773.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<div id="container" style="height: 2550px">
		<div id="food_item">
			<!-- header.html 연결 -->
      <div th:replace="~{header}"></div>
      
      <section class="msection">
      	<div id="mcontainer">
      		<div class="mbox">
      			<div class="t_box">
      				<p class = "tag">운동 보조 기구 & 운동복
      					<span class="tag_mini">※ 구매는 링크를 통해 하시길 바라며, 장바구니 담기는 로그인 후 가능합니다.</span>
      				</p>
            </div>   
          	
          	<div class="parent">
	          	<div class="card" th:each="item : ${itemList}">
	          		<div th:if="${item.ifilename != null}">
	          			<!-- 이미지 경로를 못찾았을 때, alt 대신 대체 이미지 출력 -->
									<img th:src="@{|/upload/item/${item.ifilename}|}" onerror="this.src='/images/default/default_image.png';">
						    </div>
						    <div th:if="${item.ifilename == null}">
					        <!-- 기본 이미지를 표시할 부분 -->
					        <img th:src="@{/images/default/default_image.png}" alt="DefaultImage">
						    </div>
	          		<div class="card-content">
	          			<h3 class="foodh3" th:text="${item.iname}"></h3>
	          			<p class="foodp" th:text="${item.icontent}"><br></p>
	          			<div class="foodprice">
		          			<p data-th-text="${#numbers.formatInteger(item.iprice, 3, 'COMMA') + '원'}"></p>
	          				<!-- 장바구니에 담기 -->
		          			<th:block sec:authorize="isAuthenticated()">
			          			<th:block th:each="user : ${users}" th:if="${user.uid == principal.username}">
				          			<form th:action="@{|/user/mybagitem/{uno}/{ino}|(uno=${user.uno}, ino=${item.ino})}" method="post">
					          			<!-- 장바구니에 담기 -->
														<button type="submit" class="cartBtn" onclick="alert('장바구니에 상품을 담으시겠습니까?')">
														    <i class="fa-solid fa-cart-plus" style="color: #5EA601; font-size: 20px;"></i>
														</button>
				          			</form>
				          		</th:block> 
			          		</th:block>
		 								&nbsp;&nbsp;&nbsp;
	          				<span th:with="itemLink=${item.ilink}">
		          				<a th:href="@{${itemLink}}" target="_blank">
		          					<i class="fa-solid fa-link" style = "color: #5EA601; font-size : 20px; margin-right : 10px;"></i>
		          				</a>
	          				</span>
	          			</div>
	          		</div>
          		</div>
          	</div>
            
            <!-- 페이지 영역 -->
            <div class="pagination" th:if="${itemList.totalElements > 0}">
            	<!-- 이전 페이지 -->
            	<!-- 2page 클릭하면 db 페이지는 1page -->
            	<a th:href="${itemList.first}? '#' : @{/board/item(page=${itemList.number})}">
            		<i class="fa-solid fa-caret-left fa-xl" style="color: #6C7C58; font-size: 20px;"></i>
            	</a>
            	<!-- 페이지 번호 블럭 -->
            	<span th:each="page: ${#numbers.sequence(startPage, endPage)}">
	            	<!-- 현재 페이지는 링크없이 숫자만 표시 -->
	            	<span th:if="${page == itemList.number + 1}" th:text="${page}" class="current_page"></span>
	            	<span th:if="${page != itemList.number + 1}">
	            	<a th:href="@{/board/item(page=${page})}" th:text="${page}"></a>
	            	</span>	
            	</span>
            	<!-- 다음 페이지 -->
            	<!-- 현재 2page -> 3page  실제페이지는 1page-->
            	<a th:href="${itemList.last} ? '#' : @{/board/item(page=${itemList.number+2})}">
            		<i class="fa-solid fa-caret-right fa-xl" style="color: #6C7C58; font-size: 20px;"></i>
            	</a>
            </div>
      		</div>
      	</div>
      </section>
      
      <!-- footer.html 연결 -->
      <div th:replace="~{footer}"></div>
		</div>
	</div>
</body>
</html>