<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>3WORK : WWW</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/board/musicboard.css}">
<script src="https://kit.fontawesome.com/aa24b12773.js" crossorigin="anonymous"></script>
</head>
<body>
	<div id="container" style="height: 1450px;">
		<div id="musicboard">
			<!-- header.html 연결 -->
      <div th:replace="~{header}"></div>
      
      <section class="msection">
      	<div id="mcontainer">
      		<div class="mbox">
      			<div class="t_box">
      				<p class = "tag">
      					<button type="button" id="buttonAll" onclick="showAllContent()">금주의 BEST 노래 
      						<span style="font-size: 17px;">(TOP 100)</span></button> &nbsp;
      					<span>&nbsp; 
      					<button type="button" id="buttonA" onclick="showContent('A')">요가</button>&nbsp;/
      					<button type="button" id="buttonB" onclick="showContent('B')">헬스</button>&nbsp;/
      					<button type="button" id="buttonC" onclick="showContent('C')">수영</button>
      					</span>
      				</p>
            </div>   
            
            <table id="mtable">
            	<thead>
            		<tr>
            			<th class="td_box">곡명</th>
            			<th class="td_box">앨범명</th>
            			<th class="td_box">가수명</th>
            			<th class="td_box">카테고리</th>
            		</tr>
            	</thead>
            	
							<tbody id="contentA">
								<tr th:each="music : ${musicList}" th:if="${music.mcategory eq '요가'}">
	            		<td th:text="${music.mname}"></td>
	            		<td th:text="${music.malbum}"></td>
	            		<td th:text="${music.msinger}"></td>
	            		<td th:text="${music.mcategory}"></td>
								</tr>
							</tbody>
							
							<tbody id="contentB">
								<tr th:each="music : ${musicList}" th:if="${music.mcategory eq '헬스'}">
	            		<td th:text="${music.mname}"></td>
	            		<td th:text="${music.malbum}"></td>
	            		<td th:text="${music.msinger}"></td>
	            		<td th:text="${music.mcategory}"></td>
								</tr>
							</tbody>
							
							<tbody id="contentC">
								<tr th:each="music : ${musicList}" th:if="${music.mcategory eq '수영'}">
	            		<td th:text="${music.mname}"></td>
	            		<td th:text="${music.malbum}"></td>
	            		<td th:text="${music.msinger}"></td>
	            		<td th:text="${music.mcategory}"></td>
								</tr>
							</tbody>
            </table> 
            
            <button type="button" id="buttonMore" style="display: none;" onclick="loadMoreContent()">MORE</button>
            
            <!-- 페이지 영역 -->
            <div th:if="${musicList.totalElements > 0}">
            <div class="pagination" id="pagination" style="display: block;" th:if="${content != 'A' && content != 'MORE'}">
            	<!-- 이전 페이지 -->
            	<!-- 2page 클릭하면 db 페이지는 1page -->
            	<a th:href="${musicList.first}? '#' : @{/board/musicboard(page=${musicList.number})}">
            		<i class="fa-solid fa-caret-left fa-xl" style="color: #6C7C58; font-size: 20px;"></i>
            	</a>
            	<!-- 페이지 번호 블럭 -->
            	<span th:each="page: ${#numbers.sequence(startPage, endPage)}">
	            	<!-- 현재 페이지는 링크없이 숫자만 표시 -->
	            	<span th:if="${page == musicList.number + 1}" th:text="${page}" class="current_page"></span>
	            	<span th:if="${page != musicList.number + 1}">
	            		<a th:href="@{/board/musicboard(page=${page})}" th:text="${page}"></a>
	            	</span>	
            	</span>
            	<!-- 다음 페이지 -->
            	<!-- 현재 2page -> 3page  실제페이지는 1page-->
            	<a th:href="${musicList.last} ? '#' : @{/board/musicboard(page=${musicList.number+2})}">
            		<i class="fa-solid fa-caret-right fa-xl" style="color: #6C7C58; font-size: 20px;"></i>
            	</a>
            </div>
      		</div>
      	</div>
      	</div>
      </section>
      
      
      <!-- footer.html 연결 -->
      <div th:replace="~{footer}"></div>
		</div>
	</div>
		
	<script>
		$(document).ready(function() {
			// 페이지 진입 시 기본 값
		  showContent('A');
		});
	
		function showContent(content) {
		  var contentA = document.getElementById("contentA");
		  var contentB = document.getElementById("contentB");
		  var contentC = document.getElementById("contentC");
		  var pagination = document.getElementById("pagination");
		  var moreButton = document.getElementById("buttonMore");
	
			// 클래스 추가 및 제거를 통한 스타일 조작
      contentA.classList.add("hidden");
      contentB.classList.add("hidden");
      contentC.classList.add("hidden");
      pagination.style.display = "none";  // 페이지 감추기
      moreButton.style.display = "block";  // 페이지 표시
      
      

      // 선택한 내용 보이기
      if (content === "A") {
          contentA.classList.remove("hidden");
      } else if (content === "B") {
          contentB.classList.remove("hidden");
      } else if (content === "C") {
          contentC.classList.remove("hidden");
      }
		}
		
		function showAllContent() {
		    var contentA = document.getElementById("contentA");
		    var contentB = document.getElementById("contentB");
		    var contentC = document.getElementById("contentC");
		    var pagination = document.getElementById("pagination");
			  var moreButton = document.getElementById("buttonMore");

		    // 클래스 추가 및 제거를 통한 스타일 조작
		    contentA.classList.remove("hidden");
		    contentB.classList.remove("hidden");
		    contentC.classList.remove("hidden");
		    pagination.style.display = "block";  // 페이지 표시
		    moreButton.style.display = "none"; // 페이지 감추기
		    
		    // 페이지 번호를 1페이지로 설정
		    // 여기서 "1"은 원하는 페이지 번호로 수정 가능
		    window.location.href = "/board/musicboard";
		}
	</script>
</body>
</html>