/* Userpage CSS */
/* 글씨체 */
@font-face {
  font-family: 'SBAggroL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SBAggroM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* 유저 페이지 메인 css */
#userMain {
  position: relative;
  width: 1400px;
  height: 800px;
}
#all-container {
  margin-top: 30px;
}

#diary {
	border: none;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	width: 100px;
	height: 40px;
	position: absolute;
	top: 18.5%;
	right: -4%;
	background-color: #667788;
	border-radius: 5px;
}
#diary_btn {
	margin-top: 10px;
}
#diary a{
	font-family: 'SBAggroM';
	font-size: 0.8em;
	text-decoration: none;
	color: black;
}

 /* BGM 바와 버튼 스타일 */
 #bgm-bar {
  font-family: 'SBAggroM';
  font-size: 0.7em;
  position: absolute;
  top: 8%;
  right: -12%;
  transform: translate(-50%, 50%);
  width: 280px;
  height: 10px;
  border-radius: 20px;
  background-color: #F1F3E1;
  color: #838383;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#bgm-bar span{
  padding: 5px;
}
#bgm-buttons {
  display: flex;
  gap: 10px;
}

#bgm-buttons button {
  color: #838383;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

/* 프로필 스타일 */
#profile{
  padding: 20px;
}
#profile {
  font-family: 'SBAggroL';
  text-align: left;
  width: 300px;
  height: 190px;
}
#profile p {
  margin-bottom: 5px;
  font-size: 0.8em;
  margin-left: 10px;
}
#profile p:nth-of-type(1){
  margin-top: 0px;
}
#today-visits {
  font-family: 'SBAggroL';
  color: red;
}
#profile-pic {
  width: 200px;
  height: 250px;
  border: 3px solid #ccc;
  border-radius: 20px;
  margin: 10px 0;
}
#profile p:nth-child(3) {
  font-family: 'SBAggroB';
  margin-top: 20px;
  font-size: 1.3em;
}
#profile p:nth-child(4),
#profile p:nth-child(6) {
  font-family: 'SBAggroM';
  margin-top: 10px;
  font-size: 1.1em;
  color: #838383;
}
#setting {
  color: #ccc;
  margin-top: 5px;
}
#calendar{
	position: absolute; bottom: 29%; right: 10%;
	width: 735px; height: 400px;
	font-size: 0.9em;
}

/* 방명록 스타일 */
#comments {
  position: absolute; bottom: -3%; right: 10%;
  font-family: 'SBAggroL';
  font-size: 1em;
  width: 735px;
  height: 250px;
  text-align: left;
}
#comments img {position: absolute; bottom: 79%; right: 95%;}
#comments h2 {margin-bottom: 15px;}
#comment-form {margin-bottom: 15px;}
#comment-list {
  padding: 0;
}
#comment-list ul{padding-left: 10px;}
#comment-list li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 0.8em;
}
#comment-list li #replyid{
	color: #27a900;
	font-weight: bold;
}
#comment-list li #reply_time {
	color: #ccc;
	font-size: 0.2em;
}
#comment-list li #replywrite{
	float: right;
	position: absolute; bottom: 27%; right: 0%;
	color: #ccc;
}
#reply_update{
	float: right;
	position: absolute; bottom: 19%; right: 0%;
}
#comment-container{
	border: 1px solid #ccc;
    border-radius: 10px;
    padding: 3px 10px 10px 10px;
    width: 715px;
    height: 23px;
}
#comment{
  border: none;
  width: 700px;
  height: 20px;
  padding: 5px;
  font-size: 10px;
  outline: none;
}
#comment-list li:nth-child(2){
	border-bottom: 1.5px dotted #ccc;
	width: 100%;
	}
#comment-list li:nth-child(3){
	border-bottom: 1.5px solid #ccc;
	width: 100%;
	}
#comment-list li{padding:3px;}
#btns{
  background-color: #f1f3e1;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  border: none;
  padding: 3px 5px;
  border-radius: 20%;
  font-size: 13px;
  position: absolute; bottom: 62.5%; right: 2%;
}







