@charset "UTF-8";

#container2{
    position: relative;
  height: 100%;
}

.writeform{
   width: 100%;
   height: 500px;
}
#mcontainer{
   width: 80%;
  height: 95%;
  position: relative;
  margin: 0 auto;
  padding: 70px 30px; /* 좌우 여백 조정 */
}
 
 
/* ------------------------------------------------- */
 
 
 
 #diarywrite_title{
 	font-size: 30px;
 	padding-bottom: 20px;
	font-family: 'SBAggroM';
	text-align: left; 
  border-bottom: 1px solid black;
}
 
 
#title input[type="text"] {
 	 border: 1px solid #ccc;
   width: 98%;
   margin: 30px 0 20px 0;
   padding: 10px;
}

#content textarea {
  border: 1px solid #ccc;
  width: 98%;
  padding: 10px;
  margin-bottom: 20px;
  resize: none;
}

/* 파일 첨부 스타일 */
.filebox .upload-name{
    border: none;
    border-bottom: 1px solid #ccc;
    width: 89.2%;
    padding: 10px;
    color: #9C9C9C;
}

.filebox input[type="file"]{
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  border: 0;
}

.file_btn{
   background: #F1F3E1;
   box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
   color: black;
   border-radius: 5px;
   padding: 7px 15px;
   font-size: 12px;
   margin-left: 10px;
   border: none;
   font-family: 'SBAggroM';
}

#btn-box{
   position: absolute;
   right: 1%;
   width: 100px;
   display: flex;
   padding: 5px 15px;
   
}
#save_btn1{
   background: #F1F3E1;
   border: none;
   border-radius: 5px;
   padding: 10px;
   box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
   font-size: 13px;
   margin-top: 22px;
   font-family: 'SBAggroM';
   margin-right: 10px;
}

#save_btn2{
   background: #F1F3E1;
   border: none;
   border-radius: 5px;
   padding: 10px;
   box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
   font-size: 13px;
   margin-top: 22px;
   font-family: 'SBAggroM';
}