@charset "UTF-8";

#join{
  position: relative;
  height: 100%;
}
#join_body{
   width: 100%;
   height: 500px;
   position: absolute;
  top: 123px;
}

body {
    background-color: #F1F3E1;
    margin: 0;
    padding: 0;
}

#input-id{
   display: flex;
}

.container2 {
   position: relative;
    background-color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    display: flex; /* Flexbox 레이아웃을 사용 */
    flex-direction: column; /* 자식 요소들을 세로로 정렬 */
    align-items: center; /* 가운데 정렬 */
}

h2 {
   font-family: 'SBAggroM';
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

form {
   font-family: 'SBAggroL';
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 111px;
}
#id-btn{
   font-family: 'SBAggroL';
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #f1f3e1;
    height: 40px;
    width: 102px;
    position: absolute;
    right: 41px;
    top: 144px;
}

#id-input,
#pw-input,
#pw-input2,
#name-input,
#nickname-input,
#ad-input,
#phone-input,
#birth-input{
   display: flex;
}

#id-input #uid{
   margin-left: 64px;
   margin-right: 0
}
#pw-input #upassword{
   margin-left: 49px;
   margin-right: 0
}

#pw-input2 #confirmPassword{
   margin-left: 15px;
   margin-right: 0
}
#name-input #uname{
  margin-left: 79px;
  margin-right: 0
}
#nickname-input #unickname{
  margin-left: 62px;
  margin-right: 0
}
#ad-input #uaddress{
  margin-left: 5px;
  margin-right: -22px;
}

#detailad-input #detailuaddress {
  margin: 0 0 10px -58px;
}

#phone-input #uphone{
  margin-left: 65px;
  margin-right: 0
}
#birth-input #ubirth{
  margin-left: 48px;
  margin-right: 0
}

#idcheck-message,
#pwcheck-message,
#namecheck-message,
#nicknamecheck-message,
#phonecheck-message,
#confirm-message{
  width: 300px;
  text-align: left;
  margin: 3px 0 10px 110px;
}

#idcheck-message #result,
#pwcheck-message #result,
#namecheck-message #result,
#nicknamecheck-message #nickname-result,
#phonecheck-message #result,
#confirm-message #pwconfirmResult
{
  width: 310px;
  margin: 0
}

.error-message1, .error-message2, .error-message3,
.error-message4, .error-message5, .error-message6,
.error-message7, .error-message8{
  font-family: 'SBAggroM';
  color: red;
  font-size: 0.9em;
}

.error-message1 {margin: 0 0 0 -169px}
.error-message2 {margin: 0 0 0 -209px}
.error-message3 {margin: 0 0 0 -236px}
.error-message4 {margin: 0 0 0 -221px}
.error-message5 {margin: 0 0 0 -209px}
.error-message6 {margin: 0 0 0 -236px}
.error-message7 {margin: 0 0 0 -193px}
.error-message8 {margin: 0 0 0 -207px}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="date"],
.address-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

#confirmPassword{
   width: 300px;
   margin: 0
}

#nickname-input button {
   font-family: 'SBAggroL';
   height: 40px;
    width: 100px;
    background-color: #F1F3E1;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    margin-top: 3px;
    margin-left: 11px;
}

#uaddress {
   width: 300px;
   margin-bottom: 10px;
}

.address-container {
      margin-left: 75px;
      display: flex;
    align-items: center;
    width: 305px;
}

.address-container input[type="text"] {
    flex-grow:1;
    padding: 10px;
    border-radius: 5px;
    height: 28px; /* 높이 조정하여 버튼과 일치시킴 */
    border: 1px solid #cccccc;
}

#ad-input button {
   font-family: 'SBAggroL';
   height: 40px;
    width: 100px;
    background-color: #F1F3E1;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    margin-top: 3px;
    margin-left: 33px;
}
input #uaddress{margin-bottom: 10px;}

/* 성별 css */
.gender_input_content{
   display: flex;
}

.gender_input_content select{
  width: 322px;
  font-family: 'SBAggroL';
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 80px;
  margin-right: 0;
  margin-bottom: 12px;
}

.terms input[type="checkbox"] {
    margin-right: 10px; /* 체크박스와 텍스트 사이의 간격 */
}

.terms label {
    font-size: 14px; /* 라벨의 폰트 사이즈 */
}

/* 체크박스 스타일 */
.terms {
   font-family: 'SBAggroL';
    margin: 20px 0;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.submit-button{
   font-family: 'SBAggroL';
    background-color: #f1f3e1;
    height: 48px;
    width: 430px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 5px;
    border: none;
    /* margin-left: 111px; */
}