@charset "UTF-8";

#result{
  position: relative;
  height: 100%;
}

#result_body{
	width: 100%;
	height: 500px;
	position: absolute;
  top: 123px;
}

#result_content{
	position: absolute;
	top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 1.5;
}

#result_content p:nth-of-type(1) {
	margin-top: 0;
	font-size: 30px;
	font-family: 'SBAggroM';
}

#result_content p:nth-of-type(2) {
	color: #A09D9D;
}

#result_idpw{
	color: black;
	font-size: 20px;
}

#login_btn{
	background: #F1F3E1;
	border: none;
	border-radius: 5px;
	padding: 13px 25%;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	margin-top: 22px;
	font-family: 'SBAggroM';
	font-size: 12px;
}