@charset "UTF-8";

/* 프로필 수정 전체 사이즈 */
#update{
  position: relative;
  height: 100%;
}
#update_body{
	width: 100%;
	height: 1200px;
	position: absolute;
  top: 123px;
}



/* ------------------------------------------- */



/* 프로필 수정 제목 */
#update_title{
	width: 800px;
	border-radius: 10px;
	padding : 10px 15px;
	text-align: center;
	margin: 0 auto;
}
#update_title p:nth-of-type(1) {
	font-size: 30px;
	font-family: 'SBAggroM';
}



/* ------------------------------------------- */



/* 프로필 이미지 */
#update_image{
	width: 181px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #8B8989;
	position: relative;
}
#update_image img{
	width: 100%;
	height: 100%;
}
#edit_btn{
	width: 182px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: black;
	color: white;
	z-index: 100;
	padding: 5px;
	border: none;
}


/* ------------------------------------------- */



/* 프로필 정보 수정 */
/* 수 입력 폼 - 공통 스타일 */
#update_tbl{
	width: 520px;
	height: 700px;
	border-radius: 10px;
	text-align: center;
	margin: 50px auto;
	/* border: 1px solid #8B8989; */
}
.update_input{
	position: relative;
	width: 100%;
	height: 90px;
	padding-bottom: 30px;
}
.update_input input{
	width: 220px;
	margin: 10px 0;
	border: none;
	outline: none;
	padding: 5px;
  border-bottom: 1px solid #5E5E5E;
}
.update_input_content2 select{
	width: 220px;
	margin: 10px 0;
	border: none;
	outline: none;
	padding: 5px;
  border-bottom: 1px solid #5E5E5E;
}

/* 업데이트 입력 폼 - 왼쪽 영역 */
.update_input_content{
	position: absolute;
	width: 45%;
	height: 100%;
	text-align: left;
	margin-right: 30px;
}
.update_input_content label{
	width: 100%;
	color: #5E5E5E;
	line-height: 19px;
}
.update_input_content label span{
	font-size: 12px;
	color: #9C9C9C;
	clear: both;
	float: right;
}

/* 업데이트 입력 폼 - 오른쪽 영역 */
.update_input_content2{
	position: absolute;
	right: 0;
	width: 45%;
	height: 100%;
	text-align: left;
}
.update_input_content2 label{
	width: 100%;
	color: #5E5E5E;
	line-height: 19px;
}
.update_input_content2 label span{
	font-size: 12px;
	color: #9C9C9C;
	clear: both;
	float: right;
}

/* 업데이트 입력 폼 - 주소 찾기 영역 */
.update_map{
	position: relative;
	width: 100%;
	height: 130px;
	padding-bottom: 30px;
}
.update_map_content{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: left;
	margin-right: 30px;
}
.update_map_content label{
	width: 100%;
	color: #5E5E5E;
	line-height: 19px;
}
.update_map_content input{
	border: 1px solid #5E5E5E;
	outline: none;
	padding: 5px;
	height: 20px;
}
.update_map1{
	width: 100%;
	height: 40px;
	margin-top: 10px;
}
.update_map1 input{
	width: 415px;
	height: 20px;
}
.map_btn{
	background: #F1F3E1;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	color: black;
	padding: 8px 15px;
	font-size: 12px;
	margin-left: 10px;
	border: none;
	font-family: 'SBAggroL';
	clear: both;
	float: right;
}
.map_detail{
	width: 500px;
}

/* 업데이트 입력 폼 - 텍스트 작성 영역 */
.update_area{
	position: relative;
	width: 100%;
	height: 130px;
	padding-bottom: 30px;
}
.update_area textarea{
	width: 502px;
	margin: 10px 0;
	outline: none;
	padding: 5px;
  border: 1px solid #5E5E5E;
  resize: none;
}
.update_area_content{
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	text-align: left;
}
.update_area_content label{
	width: 100%;
	color: #5E5E5E;
	line-height: 19px;
}
.update_area_content label span{
	font-size: 12px;
	color: #9C9C9C;
	clear: both;
	float: right;
}

/* 업데이트 입력 폼 - 배경음악 영역 */
.update_file{
	position: relative;
	width: 100%;
	height: 70px;
	padding-bottom: 30px;
}
/* 파일 첨부 기존 스타일 없애기 */
.filebox input[type="file"]{
	position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  border: 0;
}
.upload-name,
.upload-name2{
	width: 424px;
	margin: 10px 0;
	outline: none;
	padding: 5px 0;
	border: none;
  border-bottom: 1px solid #5E5E5E;
  resize: none;
  color: #9C9C9C;
} 
.file_btn{
	background: #F1F3E1;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	color: black;
	padding: 5px 15px;
	font-size: 12px;
	margin-left: 10px;
	border: none;
	font-family: 'SBAggroL';
}
#save_btn{
	background: #F1F3E1;
	border: none;
	border-radius: 5px;
	padding: 13px 46.6%;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	font-size: 13px;
	margin-top: 22px;
	font-family: 'SBAggroM';
}
#save_btn2{
	background: #F1F3E1;
	border: none;
	border-radius: 5px;
	padding: 13px 37%;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	font-size: 13px;
	margin-top: 22px;
	font-family: 'SBAggroM';
}
#save_btn3{
	background: #F1F3E1;
	border: none;
	border-radius: 5px;
	padding: 13px 38%;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	font-size: 13px;
	margin-top: 22px;
	font-family: 'SBAggroM';
}
#btbtns{
	text-decoration: none;
}
.update_file_content{
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	text-align: left;
}
.file_title{
	width: 100%;
	color: #5E5E5E;
	line-height: 19px;
}
.file_title span{
	font-size: 12px;
	color: #9C9C9C;
	clear: both;
	float: right;
}


#userout{
	color: gray; 
	font-size: 12px;
	float: right;
	margin-top: 30px;
}
#userout a{
	color: black; 
	text-decoration: none; 
	margin-top: 10px;
}
