@charset "UTF-8";

/* 폰트 */
@font-face {
  font-family: 'SBAggroL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SBAggroM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

#join{
  position: relative;
  width: 100%;
  height: 1300px;
}

body {
    background-color: #F1F3E1;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#input-id{
	display: flex;
}

.container2 {
	position: relative;
    background-color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    display: flex; /* Flexbox 레이아웃을 사용 */
    flex-direction: column; /* 자식 요소들을 세로로 정렬 */
    align-items: center; /* 가운데 정렬 */
}

h2 {
	font-family: 'SBAggroB';
    text-align: center;
    margin-bottom: 40px;
}

form {
	font-family: 'SBAggroM';
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 111px;
}
#id-btn{
	font-family: 'SBAggroL';
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #f1f3e1;
    height: 40px;
    width: 80px;
    position: absolute;
    right: 80px;
    top: 255px;
}

#id-input,
#pw-input,
#name-input,
#nickname-input,
#ad-input,
#phone-input,
#birth-input{
	display: flex;
}

#id-input #uid{
	margin-left: 44px;
	margin-right: 0
}
#pw-input #upassword{
	margin-left: 29px;
	margin-right: 0
}
#name-input #uname{
	margin-left: 59px;
	margin-right: 0
}
#nickname-input #unickname{
	margin-left: 43px;
	margin-right: 0
}
#ad-input #uaddress{
	margin-left: -16px;
	margin-right: 0
}
#phone-input #uphone{
	margin-left: 43px;
	margin-right: 0
}
#birth-input #ubirth{
	margin-left: 27px;
	margin-right: 0
}

#idcheck-message,
#pwcheck-message,
#namecheck-message,
#nicknamecheck-message,
#phonecheck-message{
	width: 300px;
	text-align: left;
	margin: 3px 0 10px 90px;
}

#idcheck-message #result,
#pwcheck-message #result,
#namecheck-message #result,
#nicknamecheck-message #result,
#phonecheck-message #result
{
	margin: 0
}

.error-message {
    font-family: 'SBAggroM';
    color: red; /* 에러 메시지 색상을 빨간색으로 지정 */
    font-size: 0.9em; /* 에러 메시지 폰트 크기를 조금 더 크게 설정 */
    margin-top: 5px; /* 에러 메시지 위 여백 추가 */
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="date"],
.address-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

#uaddress {
	width: 300px;
	margin-bottom: 10px;
}

.address-container {
		margin-left: 75px;
		display: flex;
    align-items: center;
    width: 305px;
}

.address-container input[type="text"] {
    flex-grow:1;
    padding: 10px;
    border-radius: 5px;
    height: 28px; /* 높이 조정하여 버튼과 일치시킴 */
    border: 1px solid #cccccc;
}

#ad-input button {
	font-family: 'SBAggroL';
	  height: 40px;
    width: 100px;
    background-color: #F1F3E1;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    margin-top: 3px;
    margin-left: 15px;
}
input #uaddress{margin-bottom: 10px;}


.terms input[type="checkbox"] {
    margin-right: 10px; /* 체크박스와 텍스트 사이의 간격 */
}

.terms label {
    font-size: 14px; /* 라벨의 폰트 사이즈 */
}

/* 체크박스 스타일 */
.terms {
	font-family: 'SBAggroL';
    margin: 10px 0;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.submit-button{
	font-family: 'SBAggroL';
    background-color: #f1f3e1;
    height: 48px;
    width: 320px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 5px;
    border: none;
    padding: 0 206px;
}
