<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>3WORK : WWW | ADMIN</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/admin/foodform.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/aa24b12773.js" crossorigin="anonymous"></script>
</head>
<body>
	<div id="container" style="height: 1250px;">
		<div id="foodform">
			<!-- header.html 연결 -->
   		<div th:replace="~{header}"></div>
   		
   		<section id="foodform_body">
   			<div id="foodform_title">
      		<p>운동기구&운동복 정보 입력</p>
      	</div>
   		
   			<!-- 운동기구&운동복 정보 입력 폼 -->
   			<form th:action="@{/admin/itemform}" method="post" enctype="multipart/form-data">
   				<table id="foodform_tbl">
   					<tr class="foodform_input">
   						<td class="foodform_input_content">
   							<label for="iname">상품명</label>
   							<input type="text" name="iname" id="iname">
   						</td>
   					</tr> 
   					
   					<tr class="foodform_input">
   						<td class="foodform_input_content">
   							<label for="icontent">상품설명</label>
   							<textarea rows="4" cols="35" name="icontent"></textarea>
   						</td>
   					</tr> 
   					
   					<tr class="foodform_input">
   						<td class="foodform_input_content">
   							<label for="iprice">가격 ('원' 단위)</label>
   							<input type="text" name="iprice" id="iprice">
   						</td>
   					</tr> 
   					
   					<tr class="foodform_input">
   						<td class="foodform_input_content">
   							<label for="ilink">아이템 판매 링크</label>
   							<input type="text" name="ilink" id="ilink">
   						</td>
   					</tr> 
   					
   					<tr class="update_file">
   						<td class="update_file_content">
   							<label for="ffilename" class="file_title">상품사진</label>
   							<div class="filebox">
							    <input class="upload-name" value="첨부파일" placeholder="첨부파일" readonly>
							    <label for="file" class="file_btn">파일 찾기</label> 
							    <input type="file" id="file" name="iimage">
								</div>
   						</td>
   					</tr>
   					
   					<tr>
	      			<td>
	      				<button type="submit" id="save_btn">등록하기</button>
	      			</td>
	      		</tr>
   				</table>
   			</form>
   		</section>
   		
			<!-- footer.html 연결 -->
   		<div th:replace="~{footer}"></div>
		</div>
	</div>
	
	<!-- 파일명 들어가기 -->
  <script>
  	$("#file").on('change',function(){
		  var fileName = $("#file").val();
		  $(".upload-name").val(fileName);
		});
	</script>
</body>
</html>