<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>3WORK : WWW | ADMIN</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/admin/admin_main.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/aa24b12773.js" crossorigin="anonymous"></script>
</head>
<body>
	<div id="admin_main">
   	<!-- header.html 연결 -->
    <div th:replace="~{header}"></div>

    <section id="admin_main_body">
			<div id="admin_content">
    		<p class="admin_content_title">관리자</p>
 			<div id="work_recommend">
 				<!-- 추천 카데고리 제목  -->
 				<div class="work_title">
 					<p>3WORK RECOMMEND</p>
 				</div>
 				<!-- 추천 카데고리의 메뉴  -->
 				<div class="work_menu">
 					<a th:href="@{/admin/musicform}">노래 정보 입력</a>
 					&nbsp;/&nbsp;
 					<a th:href="@{/admin/foodform}">건강식품 정보 입력</a>
 					&nbsp;/&nbsp;
 					<a th:href="@{/admin/itemform}">운동기구&운동복 정보 입력</a>
 				</div>
 			</div>
 			
 			<div id="user_info">
 				<!-- 추천 카데고리 제목  -->
 				<div class="work_title">
 					<p>3WORK UserList</p>
 				</div>
 				<!-- 추천 카데고리의 메뉴  -->
 				<div class="user_menu">
 					<a th:href="@{/admin/userlist}">유져 정보 리스트</a>
 				</div>
 			</div>
 			
 			<div id="work_info">
 				<!-- 추천 카데고리 제목  -->
 				<div class="work_title">
 					<p>3WORK INFORMATION</p>
 				</div>
 				<!-- 추천 카데고리의 메뉴  -->
 				<div class="work_menu">
 					<a th:href="@{/admin/newsform}">건강뉴스 정보 입력</a>
 					&nbsp;/&nbsp;
 					<a th:href="'#'">운동꿀팁 정보 입력</a>
 				</div>
 			</div>
 		</div>
    </section>
    
    <!-- footer.html 연결 -->
 		<div th:replace="~{footer}"></div>
  </div>
  
  <!-- 스크립트 -->
  <script src="/js/main.js"></script>
</body>
</html>