<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer>
  <div id="footer_left">
    <div id="footer_logo">
      <img th:src="@{/images/main_logo_bgX.png}" alt="main_logo_bgX">
    </div>
    <div id="footer_menu">
      <a th:href="'#'">개인정보 처리방침</a>
      <a th:href="'#'">내부정보관리규정</a>
      <a th:href="'#'">고객센터</a>
      <a th:href="'#'">오시는 길</a>
    </div>
    <div id="footer_info">
      <p>
        서울특별시 영등포구 선유동2로 57 이레빌딩, 19F
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        02-6952-0335
      </p>
    </div>
    <div id="footer_copyright">
      <p>Copyright © 2024 3WORK:WWW Inc. All Right Reserved.</p>
    </div>
  </div>
</footer>