<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>3WORK : WWW</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
  <div id="index">
    <!-- 대문 페이지 -->
    <div id="main_door">
      <!-- 로고 이미지 -->
      <img th:src="@{/images/main_logo_bgX.png}" alt="Logo" class="main_door_logo">
      <!-- 로딩 이미지 -->
      <div id="loading_image">
        <img th:src="@{/images/baenaom_avocado.png}" alt="baenaom_avocado" class="loading_image_avocado">
        &nbsp;
        <img th:src="@{/images/itmon_avocado.png}" alt="itmon_avocado" class="loading_image_avocado">
        &nbsp;
        <img th:src="@{images/boken_avocado.png}" alt="boken_avocado" class="loading_image_avocado">
        &nbsp;
        <img th:src="@{/images/baenaom_avocado.png}" alt="baenaom_avocado" class="loading_image_avocado">
        &nbsp;
        <img th:src="@{/images/itmon_avocado.png}" alt="itmon_avocado" class="loading_image_avocado">
        &nbsp;
        <img th:src="@{/images/boken_avocado.png}" alt="boken_avocado" class="loading_image_avocado">
        &nbsp;
        <img th:src="@{/images/baenaom_avocado.png}" alt="boken_avocado" class="loading_image_avocado">
      </div>
      <div id="loading_content">
        <p class="typing-txt">WELCOME</p> 
        <p class="typing"></p> 
      </div>
    </div>
  </div>
  
  <!-- 스크립트 -->
  <script src="/js/index.js"></script>
</body>
</html>