<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>3WORK : WWW</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/main.css}" media="screen and (min-width: 1000px) and (max-width: 2560px)">
<link rel="stylesheet" th:href="@{/css/main_m.css}" media="screen and (min-width: 300px) and (max-width: 999px)">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/aa24b12773.js" crossorigin="anonymous"></script>
</head>
<body>
	<div id="container">
	  <div id="main">
    	<!-- header.html 연결 -->
      <div th:replace="~{header}"></div>
  
      <section id="main_body">
      	<div id="mobile">
      		<div id="m_menu">
      			<ul id="topmenu">
	            <li>
	              <p><button onclick="showhide()" id="here"><i class='fa-solid fa-bars fa-2xl' style='color: #8B8989'></i></button></p>
	               <div id="submenu-position">
		              <ul id="submenu">
		              	<li onclick="showhide1()">Recommend</li>
		              	<div id="rec">
		                  <a th:href="@{/board/musicboard}">노래</a>
		                  <br>
		                  <a th:href="@{/board/food}">건강 식품</a>
		                  <br>
		                  <a th:href="@{/board/item}">운동기구&운동복</a>
	                  </div>
	                  <li onclick="showhide2()">Information</li>
	                  <div id="info">
		                  <a th:href="@{/board/news}">건강 뉴스</a>
		                  <br>
		                  <a th:href="@{/board/map}">지도</a>
		                  <br>
		                  <a th:href="'#'">운동 꿀팁</a>
	                  </div>
	                  <li onclick="showhide3()">User</li>
	                  <div id="user">
		                  <th:block sec:authorize="isAnonymous()">
			                  <li><a th:href="@{/login}">로그인</a></li>
			                  <li><a th:href="@{/user/join}">회원가입</a></li>
		                  </th:block>
		                  <th:block sec:authorize="isAuthenticated()">
		                  	<a th:href="@{/user/mybag}">장바구니</a>
		                  	<br>
			               		<a th:href="@{/user/userupdate}">회원정보 수정</a>
			               		<br>
			               	 	<a th:href="'#'">로그아웃</a>
		                  </th:block>
		                </div>
		              </ul>
                </div>
	            </li>
	          </ul>
      		</div>
	  			<div id="search_box">
	  				<i class="fa-solid fa-magnifying-glass" style="color: #8B8989"></i>
	  				<input type="text" id="search_input" placeholder="찾고 싶은 친구의 이름 또는 닉네임을 입력해주세요.">
	  			</div>
  			</div>
  			
  			<div id="slide_box">
  				<div id="slide1" style="display: none;">
  					<img th:src="@{/images/main_slide/main_slide_1.jpeg}" alt="main_slide_1">
  					<div class="slide_content">
  						<p><i>Health Solutions</i></p>
  						<p><i>3WORK는<br>즐겁고 건강한 삶을 위해<br>운동과 올바른 식생활에 관련된<br>차별화된 솔루션을 제공합니다.</i></p>
  					</div>
  				</div>
  				<div id="slide2" style="display: none;">
  					<img th:src="@{/images/main_slide/main_slide_2.jpeg}" alt="main_slide_2">
  					<div class="slide_content2">
  						<p><i>Wellbeing Life</i></p>
  						<p><i>3WORK와 함께 건강하고<br>행복한 일상을 만들어보세요 !</i></p>
  					</div>
  				</div>
  				<div id="slide3" style="display: none;">
  					<img th:src="@{/images/main_slide/main_slide_3.jpeg}" alt="main_slide_3">
  					<div class="slide_content3">
  						<p><i>With People</i></p>
  						<p><i>나만의 미니 공간을 만들어 사람들과 소통하고,<br>운동도 함께하면 효과는 무려 두배 !<br>건강 가득한 공간을 만들어보세요.</i></p>
  					</div>
  				</div>
  			</div>
	  		<!-- 로그인 전 -->
	  		<th:block sec:authorize="isAnonymous()">
	  			<div id="login_box">
	  				<div id="login_box_middle">
	  					<a th:href="@{/login}">
	  						<button type="button" id="login_btn">3WORK&nbsp;:&nbsp;로그인</span></button>
	  					</a>
		  				<div id="login_menu">
		  					<a th:href="@{/user/id_search}">아이디 찾기</a>
		  					<a th:href="@{/user/pw_search}">비밀번호 찾기</a>
		  					<a th:href="@{/user/join}">회원가입</a>
		  				</div>
	  				</div>
	  			</div>
	  		</th:block>
	  		<!-- 로그인 후 -->
	  		<th:block sec:authorize="isAuthenticated()">
		    <div id="login_box">
		        <div id="login_box_middle">
		            <!-- JavaScript 코드를 직접 포함하여 버튼 클릭 시 실행되도록 합니다 -->
		            <button type="button" id="login_btn" onclick="handleLoginButtonClick()">
		                My&nbsp;Home&nbsp;
		            </button>
		            <div id="login_menu">
		                <a th:href="@{/user/id_search}">장바구니</a>
		                <a th:href="@{/user/userupdate}">회원정보 수정</a>
		                <a th:href="'#'">로그아웃</a>
		            </div>
		        </div>
		    </div>
				</th:block>
  			
  			<div id="weather_box">
  				<div id="weather_title">
  					<p>날씨</p>
  				</div>
  				<div id="weather_info">
  					
  				</div>
  				<div id="weather_etc">
  					
  				</div>
  			</div>
  			
  			<div id="work_recommend">
  				<!-- 추천 카데고리 제목  -->
  				<div class="work_title">
  					<p>3WORK RECOMMEND</p>
  				</div>
  				<!-- 추천 카데고리의 메뉴  -->
  				<div class="work_menu">
  					<a th:href="@{/board/musicboard}">노래 추천</a>
  					&nbsp;/&nbsp;
  					<a th:href="@{/board/food}">건강 식품</a>
  					&nbsp;/&nbsp;
  					<a th:href="@{/board/item}">운동기구&운동복</a>
  				</div>
  				<div id="work_recommend_link">
	  				<!-- 노래 추천 링크 이동 이미지 -->
	  				<div id="work_music">
	  					<a th:href="@{/board/musicboard}">
			  				<img th:src="@{/images/main_body/3work_recommend_1.png}" alt="3work_recommend_1">
	  					</a>
	  					<div id="work_music_content">
		  					<p>2024 JAN<p>
		  					<p>Healthy Playlist</p>
		  					<p>의욕 뿜뿜 Playlist~ ♬ ♪<br>이거 들으면 3대 500 SSAP가능 !</p>
	  					</div>
  					</div>
  					<!-- 식품 추천 링크 이동 이미지 -->
  					<div id="work_food">
	  					<a th:href="@{/board/food}">
		  					<img th:src="@{/images/main_body/3work_recommend_2.png}" alt="3work_recommend_2">
		  					<img th:src="@{/images/main_body/3work_recommend_2_1.png}" alt="3work_recommend_2_1">
	  					</a>
	  					<div id="work_food_content">
		  					<p>Wellbeing Food</p>
		  					<p>건강식품 알뜰하게 챙기기 !</p>
	  					</div>
	  				</div>
	  				<div id="work_item">
	  					<!-- 운동기구&운동복 링크 이동 이미지 -->
	  					<a th:href="@{/board/item}">
		  					<img th:src="@{/images/main_body/3work_recommend_3.png}" alt="3work_recommend_3">
	  					</a>
	  					<div id="work_item_content">
		  					<p>Health Item</p>
		  					<p>당신의 안전을 책임질 운동 아이템 추천 !</p>
	  					</div>
  					</div>
  				</div>
  			</div>
  			
  			<div id="work_info">
  				<!-- 추천 카데고리 제목  -->
  				<div class="work_title">
  					<p>3WORK INFORMATION</p>
  				</div>
  				<!-- 추천 카데고리의 메뉴  -->
  				<div class="work_menu">
  					<a th:href="@{/board/news}">건강 뉴스</a>
  					&nbsp;/&nbsp;
  					<a th:href="@{/board/map}">지도</a>
  					&nbsp;/&nbsp;
  					<a th:href="'#'">운동 정보</a>
  				</div>
  				<div id="work_info_link">
	  				<!-- 건강 뉴스 링크 이동 이미지 -->
	  				<div id="work_news">
	  					<a th:href="@{/board/news}">
			  				<img th:src="@{/images/main_body/3work_info_1.png}" alt="3work_info_1">
	  					</a>
	  					<div id="work_news_content">
		  					<p>2024 JAN<p>
		  					<p>Healthy News</p>
		  					<p>당신의 건강한 삶을 위한 뉴스 !</p>
	  					</div>
	  				</div>
	  				<!-- 지도 링크 이동 이미지 -->
	  				<div id="work_map">
	  					<a th:href="@{/board/map}">
		  					<img th:src="@{/images/main_body/3work_info_2.png}" alt="3work_info_2">
	  					</a>
	  					<div id="work_map_content">
		  					<p>My Health Place</p>
		  					<p>우리 동네 근처 헬스장 찾기</p>
	  					</div>
	  				</div>
	  				<!-- 운동 꿀팁 링크 이동 이미지 -->
	  				<div id="work_method">
	  					<a th:href="'#'">
		  					<img th:src="@{/images/main_body/3work_info_3.png}" alt="3work_info_3">
	  					</a>
	  					<div id="work_method_content">
		  					<p>Good Exercise</p>
		  					<p>건강하고 효과적인 운동 방법 !</p>
	  					</div>
	  				</div>
  				</div>
  			</div>
      </section>
      
      <!-- footer.html 연결 -->
   		<div th:replace="~{footer}"></div>
    </div>
  </div>
  
  <!-- 유저페이지 팝업 JS -->
  <script src="/js/main.js"></script>
  <script>
	  // 버튼 클릭 시 실행될 함수 정의
	  function handleLoginButtonClick() {
	      // 서버로부터 받은 인증 상태
	      let serverResponse = {
	          "isAuthenticated": true //권한 인증
	      };
	      // 서버에서 받은 인증 상태를 가져옴
	      let isAuthenticated = serverResponse.isAuthenticated;
	
	      // 인증 상태에 따라 동작 결정
	      if (isAuthenticated) {
	          let popOption = "width=1450, height=850";
	          let openUrl = '/user/userpage';
	          window.open(openUrl, '미니홈페이지', popOption);
	      } else {
	          window.location.href = '/login';
	      }
	  }
	</script>
	<!-- 메인페이지 메뉴_모바일버전 -->
	<script>
		let sw = true;
	
		function showhide(){
		    let x = document.getElementById("submenu-position");
	
		    if(sw == true){
		        x.style.display = "block";
		        x.style.zIndex = "100";
		        sw = false;
		        document.getElementById("here").innerHTML = "<i class='fa-solid fa-xmark fa-2xl' style='color: #8B8989'></i>";
		        document.getElementById("here").style.cssText = "position: fixed; top: 17px; left: 10px;";
		    } else{
		        x.style.display = "none";
		        sw = true;
		        document.getElementById("here").innerHTML = "<i class='fa-solid fa-bars fa-2xl' style='color: #8B8989'></i>";
		        document.getElementById("here").style.cssText = "";
		    }   
		}
		
		function showhide1(){
		    let x = document.getElementById("rec");
	
		    if(sw == true){
		        x.style.display = "block";
		        x.style.zIndex = "100";
		        
		        sw = false;
		    } else{
		        x.style.display = "none";
		        
		        sw = true;
		    }   
		}
		
		function showhide2(){
		    let y = document.getElementById("info");
	
		    if(sw == true){
		        y.style.display = "block";
		        y.style.zIndex = "100";
		        
		        sw = false;
		    } else{
		        y.style.display = "none";
		        
		        sw = true;
		    }   
		}
		
		function showhide3(){
		    let z = document.getElementById("user");
	
		    if(sw == true){
		        z.style.display = "block";
		        z.style.zIndex = "100";
		        
		        sw = false;
		    } else{
		        z.style.display = "none";
		        
		        sw = true;
		    }   
		}
	</script>
</body>
</html>