@charset "UTF-8";

#detail{
  position: relative;
  height: 100%;
}
#detail_body{
	width: 100%;
	height: 500px;
	position: absolute;
  top: 123px;
}



/* ------------------------------------------- */



#detail_title{
	width: 800px;
	border-radius: 10px;
	padding : 10px 15px;
	text-align: center;
	margin: 0 auto;
}
#detail_title p:nth-of-type(1) {
	font-size: 30px;
	font-family: 'SBAggroM';
}



/* ------------------------------------------- */



#userdetail{
	width: 400px;
	margin: 0 auto;
}
#userdetail tr td{
	height: 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	margin: 10px;
	margin-bottom: 20px;
	line-height: 2;
}
#userdetail tr td input{
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
	padding: 7px;
	font-family: 'SBAggroL';
	width: 400px;
}
#userdetail tr:nth-of-type(6) td input:nth-of-type(1){
	margin-bottom: 5px;
}
#userdetail tr:nth-of-type(6) td{
	height: 80px;
}



/* ------------------------------------------- */


#userdetail tr:nth-of-type(7) td{
	height: 40px;
}
.write2_btn{
	width: 70px;
	background: #F1F3E1;
	border: none;
	border-radius: 5px;
	padding: 13px 2%;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	font-size: 13px;
	font-family: 'SBAggroM';
	cursor: pointer;
}