@charset "UTF-8";

#musicboard{
  position: relative;
  width: 100%;
  height: 2550px;
}

#mcontainer{
   width: 80%;
   height: 1150px;
   position: relative;
   margin: 0 auto;
   padding: 70px 30px; /* 좌우 여백 조정 */
   display: flex;
   flex-wrap: wrap;
}
.mbox{
	width: 100%;
	height: 100%;
}
.t_box{
    width: 100%;
    height: 70px;
    padding-bottom: 10px;
}
.tag{
	font-size: 30px;
	padding-bottom: 20px; 
	text-align: left; 
	border-bottom: 1px solid black;
	font-family: 'SBAggroM';
}

/* 카드 스타일링 */
.parent{
    width: 100%;
    margin: 10px auto;
}
.card:nth-of-type(3n-2) {
    border: 1px solid #ccc;
    float: left;
    width: 33.33%;
    box-sizing: border-box;
}

.card:nth-of-type(3n-1) {
    border: 1px solid #ccc;
    border-left: none;
    float: left;
    width: 33.33%;
    box-sizing: border-box;
}

.card:nth-of-type(3n) {
    border: 1px solid #ccc;
    border-left: none;
    float: right;
    width: 33.33%;
    box-sizing: border-box;
} 

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 20px 0;
}

.card-content {
    position: relative;
    padding: 15px 15px 0 15px;
    height: 165px;
}
    
.foodh3{
   font-size: 20px;
   overflow: hidden;  		
   text-overflow: ellipsis;  
   white-space: nowrap; 		
   word-break: break-all;
   width: 330px;
   height: 20px;
}

.foodp{
   font-size: 15px;
   color: #8B8989;
   overflow: hidden;  		
   text-overflow: ellipsis;  
   white-space: nowrap; 		
   word-break: break-all;
   width: 330px;
   height: 20px;
   text-align: left;
}

.foodprice{
	width: 330px;
  height: 40px;
  line-height: 40px;
	font-size: 35px;
	color: #5EA601;
	padding: 10px 0;
}
.foodprice p{
	float: left;
	margin: 0;
}
.pagination{
 text-align: center;
}
