@charset "UTF-8";

/* food.html & item.html의 CSS */

#food_item{
  position: relative;
  height: 100%;
}
.msection{
	width: 100%;
	height: 500px;
	position: absolute;
  top: 123px;
}
#mcontainer{
   width: 80%;
   height: 1150px;
   position: relative;
   margin: 0 auto;
   padding: 70px 30px; /* 좌우 여백 조정 */
   display: flex;
   flex-wrap: wrap;
}
.mbox{
	width: 100%;
	height: 100%;
}
.t_box{
    width: 100%;
    height: 70px;
    padding-bottom: 10px;
}
.tag{
	font-size: 30px;
	padding-bottom: 20px; 
	text-align: left; 
	border-bottom: 1px solid black;
	font-family: 'SBAggroM';
}

/* 카드 스타일링 */
.parent{
    width: 100%;
    margin: 10px auto;
}
.card:nth-of-type(3n-2) {
    border: 1px solid #ccc;
    float: left;
    width: 33.33%;
    box-sizing: border-box;
}

.card:nth-of-type(3n-1) {
    border: 1px solid #ccc;
    border-left: none;
    float: left;
    width: 33.33%;
    box-sizing: border-box;
}

.card:nth-of-type(3n) {
    border: 1px solid #ccc;
    border-left: none;
    float: right;
    width: 33.33%;
    box-sizing: border-box;
} 

.card img {
    width: 100%;
    aspect-ratio: 1.2;
    object-fit: cover;
    padding: 20px 0;
}

.card-content {
    position: relative;
    padding: 15px 15px 0 15px;
    height: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
    
.foodh3{
   font-size: 20px;
   overflow: hidden;  		
   text-overflow: ellipsis;  
   white-space: nowrap; 	
   height: 20px;
   text-align: left;
}

.foodp{
   font-size: 15px;
   color: #8B8989;
   overflow: hidden;  		
   text-overflow: ellipsis;  
   white-space: nowrap; 	
   height: 20px;
   text-align: left;
}

.foodprice{
  height: 40px;
  line-height: 40px;
	color: #5EA601;
	padding: 10px 0;
}
.foodprice p{
	float: left;
	margin: 0;
	font-size: 30px;
	overflow: hidden;  		
  text-overflow: ellipsis;  
  white-space: nowrap; 	
  max-width: calc(100% - 80px);
}
.foodprice i{
	float: right;
	height: 35px;
	line-height: 35px;
}

/* 페이지 */
.pagination{
	width: 100%;
	margin: 30px auto;
	padding: 30px 0;
	display: flex;
	justify-content: center;
}
.pagination a,
.current_page{
	text-decoration: none;
	color: #999999;
	margin-left: 10px;
}
.current_page{
	color: #000000; /* 여기에 원하는 색상을 지정하세요 */
  font-weight: bold; /* 선택적으로 폰트 굵기를 조절할 수 있습니다. */
}