@charset "UTF-8";

#musicboard{
      position: relative;
      width: 1200px;
      height: 1900px;
}
#mcontainer{
    width: 1200px;
    height: 95%;
    position: relative;
    margin: 0 auto;
    padding: 70px 50px 70px 50px;
}
.mbox{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.t_box{
    width: 100%;
    height: 70px;
}
.tag button{
	text-decoration: none;
	color: gray;
	border: none;
	background: none;
	font-family: 'SBAggroL';
	font-size: 15px;
}
.tag button:focus{
	color: black;
}
.tag{
	font-size: 30px;
	padding-top: 10px; 
	text-align: left; 
	font-family: 'SBAggroM';
}
p span{
	font-size: 15px; 
	font-weight: 100;
}
#mtable{
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    width : 100%;
    font-size: 15px;
    font-weight: 600;
}
.td_box{
    padding: 15px;
    font-size: 17px;
    color: gray;
    font-weight: 100;
}
thead th{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.hidden {
    display: none !important;
}
#contentA tr{
	border-bottom: 1px solid black;
}
#contentB tr{
	border-bottom: 1px solid black;
}
#contentC tr{
	border-bottom: 1px solid black;
}
td{
    padding: 30px 20px;
}
.pagination{
text-align: center;
}