@charset "UTF-8";

#musicboard{
  position: relative;
  width: 100%;
  height: 2850px;
}
  
#mcontainer{
	width: 80%;
  height: 95%;
  position: relative;
  margin: 0 auto;
  padding: 70px 30px; /* 좌우 여백 조정 */
}
 
.t_box{
	width: 100%;
	height: 70px;
	padding-bottom: 40px;
}
.tag{
	font-size: 30px;
	padding-bottom: 20px; 
  text-align: left; 
  border-bottom: 1px solid black;
  font-family: 'SBAggroM';
}
a{
	text-decoration: none; 
	color: black;
}

li{
	list-style: none;
	padding: 30px 20px;
	border: 1px solid transparent; /* 테두리 선을 초기에 투명으로 설정 */
	border-radius: 10px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* 그림자 효과를 적용 */
	margin-bottom: 30px;
	text-align: left;
	min-height: 110px;
} 
    
 strong{
 	font-size: 20px;
 }

 .newsbox:hover strong{
 	border-bottom: 1px solid #b7b7b7;
 }
 .newscon{
	font-size: 15px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-webkit-line-clamp: 2; /* 미래를 위한 호환성을 위해 WebKit 접두사 사용 */
 }
 .thumbnail-image {
	width: 120px; /* 이미지 폭 조절 */
	height: 95px; /* 이미지 높이 조절 */
	margin-right: 10px; /* 이미지 간격 설정 */
	float: right;
}
.newscreatetime{
	font-size: 12px;
	color: gray;
	float: right;
}
.pagination{
	text-align: center;
}
  