@charset "UTF-8";

#pw_search{
  background-color: #ffffff;
  width: 1318.59px;
  height: 90%;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

#pw_search_body{
	width: 100%;
	height: 500px;
	position: relative;
}

#pw_search_title{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#pw_search_title p:nth-of-type(1) {
	font-size: 30px;
	font-family: 'SBAggroM';
	margin-top: 0;
	margin-bottom: 10px;
}

#pw_search_title p:nth-of-type(2) {
	font-size: 12px;
	color: #A09D9D;
	margin-bottom: 30px;
}

#search_input{
	width: 500px;
	border-radius: 5px;
	border: 1px solid #8B8989;
	outline: none;
	margin: 10px;
	padding: 10px;
	font-size: 12px;
}

#search_btn{
	background: #F1F3E1;
	border: none;
	border-radius: 5px;
	padding: 13px 34%;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	margin-top: 22px;
	font-family: 'SBAggroM';
	font-size: 12px;
}