@charset "UTF-8";

/* privacy.html */
#privacy{
	position: relative;
	height: 100%;
}
.data{
	text-align: left;
	padding: 50px;
	width: 90%;
  height: 1350px;
	position: absolute;
  top: 123px;
}
.board p{
	font-size: 30px;
	font-family: 'SBAggroM';
	margin-top: 0;
	margin-bottom: 50px;
}



/* ------------------------------------------- */



/* rule.html */



/* ------------------------------------------- */



/* contact.html */
#contact{
	position: relative;
	height: 100%;
}
.service{
	text-align: left;
	padding: 50px;
	width: 90%;
  height: 500px;
	position: absolute;
  top: 123px;
}
.service-member p:nth-of-type(1){
	margin-bottom: 30px;
}
.service-member p:nth-of-type(2){
	margin-top: 30px;
}



/* ------------------------------------------- */



/* way.html */