@charset "UTF-8";

/* privacy.html */
#privacy{
  position: relative;
  width: 100%;
  min-height:1900px;
  height: 1900px;
}
.data{
	text-align: left;
	padding: 50px;
}
.board p{
	font-size: 30px;
	font-family: 'SBAggroM';
	margin-top: 0;
	margin-bottom: 50px;
}



/* ------------------------------------------- */



/* rule.html */





/* ------------------------------------------- */



/* contact.html */
#contact{
  position: relative;
  width: 100%;
  height: 1000px;
}
.service{
	text-align: left;
	padding: 50px;
}
.service-member p:nth-of-type(1){
	margin-bottom: 30px;
}
.service-member p:nth-of-type(2){
	margin-top: 30px;
}



/* ------------------------------------------- */



/* way.html */